In [2]:
int(str(3212),5)

432

In [4]:
num = '3212'  #5진법 숫자
base = 5                
answer = int(num,base)
answer

432

In [9]:
import string 

string.ascii_lowercase # 소문자 abcdefghijklmnopqrstuvwxyz
string.ascii_uppercase # 대문자 ABCDEFGHIJKLMNOPQRSTUVWXYZ
string.ascii_letters # 대소문자 모두 abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
string.digits # 숫자 0123456789

s = "a"
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [11]:
list1 = [3, 2, 5, 1]
list2 = sorted(list1)
print(list1)
print(list2)

[3, 2, 5, 1]
[1, 2, 3, 5]

In [1]:
mylist = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
new_list = list(map(list, zip(*mylist)))
print(new_list) #

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [3]:
def solution(mylist):
    answer = []
    for i in range(len(mylist)-1):
        answer.append(abs(mylist[i] - mylist[i+1]))
    return answer

if __name__ == '__main__':
    mylist = [83, 48, 13, 4, 71, 11]    
    print(solution(mylist))

[35, 35, 9, 67, 60]

In [6]:
def solution(mylist):
    answer = []
    for number1, number2 in zip(mylist, mylist[1:]):
        answer.append(abs(number1 - number2))
    return answer

if __name__ == '__main__':
    mylist = [83, 48, 13, 4, 71, 11]    
    print(solution(mylist))

[35, 35, 9, 67, 60]

In [9]:
list1 = ['1', '100', '33']
list2 = list(map(int, list1))
print(list2)

[1, 100, 33]

In [15]:
def solution(mylist):
    answer = list(map(len,mylist))
    return answer

mylist = [[1, 2], [3, 4], [5]]
print(solution(mylist)) # [2,2,1]

[2, 2, 1]

In [16]:
my_list = ['1', '100', '33']
answer = ''.join(my_list)
answer

'110033'

In [21]:
my_number = (3, 56, 2)
my_number = list(map(str,my_number))
answer = "".join(my_number)
answer

'3562'

In [23]:
n = 4
answer = 'abc' * n
answer

'abcabcabcabc'

In [25]:
answer = ''
n = 4
for _ in range(n):
    answer += 'abc'
answer

'abcabcabcabc'

In [28]:
n = 3
answer= [123, 456] * n
answer

[123, 456, 123, 456, 123, 456]

In [29]:
import itertools

iterable1 = 'ABCD'
iterable2 = 'xy'
iterable3 = '1234'
print(list(itertools.product(iterable1, iterable2, iterable3)))

[('A', 'x', '1'), ('A', 'x', '2'), ('A', 'x', '3'), ('A', 'x', '4'), ('A', 'y', '1'), ('A', 'y', '2'), ('A', 'y', '3'), ('A', 'y', '4'), ('B', 'x', '1'), ('B', 'x', '2'), ('B', 'x', '3'), ('B', 'x', '4'), ('B', 'y', '1'), ('B', 'y', '2'), ('B', 'y', '3'), ('B', 'y', '4'), ('C', 'x', '1'), ('C', 'x', '2'), ('C', 'x', '3'), ('C', 'x', '4'), ('C', 'y', '1'), ('C', 'y', '2'), ('C', 'y', '3'), ('C', 'y', '4'), ('D', 'x', '1'), ('D', 'x', '2'), ('D', 'x', '3'), ('D', 'x', '4'), ('D', 'y', '1'), ('D', 'y', '2'), ('D', 'y', '3'), ('D', 'y', '4')]

In [33]:
my_list = [[1, 2], [3, 4, 5], [6, 7]]

# 방법 1 - sum 함수
answer = sum(my_list, [])
print(answer)

# 방법 2 - itertools.chain
import itertools
print(list(itertools.chain.from_iterable(my_list)))

# 방법 3 - itertools와 unpacking
import itertools
print(list(itertools.chain(*my_list)))

# 방법 4 - list comprehension 이용
print([element for array in my_list for element in array])

# 방법 5 - reduce 함수 이용 1
from functools import reduce
print(list(reduce(lambda x, y: x+y, my_list)))

# 방법 6 - reduce 함수 이용 2
from functools import reduce
import operator
print(list(reduce(operator.add, my_list)))

[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]

In [34]:
import itertools

pool = ['A', 'B', 'C']
print(list(map(''.join, itertools.permutations(pool)))) # 3개의 원소로 수열 만들기
print(list(map(''.join, itertools.permutations(pool, 2)))) # 2개의 원소로 수열 만들기

['ABC', 'ACB', 'BAC', 'BCA', 'CAB', 'CBA']
['AB', 'AC', 'BA', 'BC', 'CA', 'CB']

In [41]:
import collections
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 7, 9, 1, 2, 3, 3, 5, 2, 6, 8, 9, 0, 1, 1, 4, 7, 0]
answer = collections.Counter(my_list)

print(answer)
print(answer[9])
print(answer[3])
print(answer[100])

Counter({1: 4, 2: 3, 3: 3, 7: 3, 4: 2, 5: 2, 6: 2, 8: 2, 9: 2, 0: 2})
2
3
0

In [10]:
res = [1,3,5]
res.remove(1)
res

[3, 5]

In [12]:
n = 5
lost =[2,4]
reserve = [1,3,5]

def solution(n, lost, reserve):
    los = set(lost)- set(reserve)
    res = set(reserve) - set(lost)
    for res_p in res:
        if res_p-1 in los:
            los.remove(res_p-1)
        elif res_p+1 in los:
            los.remove(res_p+1)
     
    return n - len(los)

los = set(lost)- set(reserve)
res = set(reserve) - set(lost)
res

{1, 3, 5}

In [3]:
list(range(6,0,-1))

[6, 5, 4, 3, 2, 1]

In [6]:
T = int(input())
for i in range(1,T+1):
    a = "*"*i
    a.rjust(T)
    print(a)

5
*
**
***
****
*****

In [13]:
T =7
a = "*"*1
a = a.rjust(9)
print(a)

        *

In [36]:
N, X = map(int, input().split())
A = list(map(int, list(input().split(" "))))
s = []
for i in range(N):
    if A[i] < X:
        s.append(A[i])
s = list(map(str,s))
print(" ".join(s))

10 5
1 10 4 9 2 3 8 5 7 6
1 4 2 3

In [43]:
while(1):
    a, b = map(int, input().split())
    if a == 0 and b == 0:
        break
    print(a+b)

1 1
2
2 3
5
3 4
7
9 8
17
0 0

In [54]:
N = int(input())
n = N
i = 0
while(1):
    n = (n%10)*10 + (n//10+n%10)%10
    i += 1
    if n == N:
        break

print(i)

26
68
84
42
26
4

In [60]:
N = int(input())
n = list(map(int,input().split(" ")))
print(min(n), max(n))

5
20 10 35 30 7
7 35

In [61]:
a = []
for i in range(9):
    a.append(int(input()))
print(max(a))
print(a.index(max(a))+1)

3
29
38
12
57
74
40
85
61
85
8

In [79]:
import collections
a = int(input())
b = int(input())
c = int(input())
abc = str(a*b*c)
ABC = []
for i in range(len(abc)):
    ABC.append(abc[i])
for i in range(9+1):
    print(ABC.count(str(i)))

150
266
427
3
1
0
2
0
0
0
2
0
0

In [80]:
r =[]
for i in range(10):
    n = int(input())
    r.append(n%42)
print(len(list(set(r))))

1
2
3
4
5
6
7
8
9
10
10

In [96]:
N = int(input())
score = list(map(int,input().split()))
m = max(score)
for i in range(N):
    score[i] = score[i]/m*100
print(sum(score)/N)

4
1 100 100 100
75.25

In [120]:
N = int(input())
for i in range(N):
    answer = input()
    score = [0 for i in range(len(answer))]
    for j in range(len(answer)):
        if answer[j] == "X":
            score.append(0)
        elif answer[j] == "O":
            if j == 0:
                score[j] = 1
            else:
                score[j] = score[j-1] +1
    
    print(sum(score))

1
OOXXOXXOOO
10

In [142]:
N = int(input())
for i in range(N):
    score = list(map(int,input().split()))
    avg = sum(score[1:])/score[0]
    c = 0
    for i in range(1, score[0]+1):
        if score[i] > avg:
            c+= 1
            
    p = c/score[0]*100
    print("{:.3f}%".format(p))

1
5 50 50 70 80 100
40.000%

In [131]:
sum(list_[1:])/list_[0]

70.0

In [192]:
N = int(input())
if N < 100:
    print(N)
else:
    h = 99
    for i in range(100,N+1):
        if i == 1000:
            break
        elif 100 <= i <= 999:
            a = i//100
            b = i//10%10
            c = i%10
            if (a-b) == (b-c):
                h += 1
            else:
                continue
    print(h)

112
100

In [201]:
N = int(input())
list_ = input()
num = [0 for i in range(N)]
for i in range(N):
    num[i] = int(list_[i])
sum(num)

11
10987654321

46

In [215]:
import string
S = input()
abc = list(string.ascii_lowercase)
for i in range(len(abc)):
    if abc[i] in S:
        print(S.index(abc[i]),end=" ")
    else:
        print(-1, end=" ")

baekjoon
1 0 -1 -1 2 -1 -1 -1 -1 4 3 -1 -1 7 5 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1

In [221]:
T =int(input())
for i in range(T):
    R, S = input().split()
    R = int(R)
    for i in range(len(S)):
        print(S[i]*R, end ="")
    print()

2
4 agv
aaaaggggvvvv
2 gd
ggdd

In [258]:
import collections
def get_key(my_dict, num):
    for key, value in my_dict.items():
        if num == value:
            return key
a = input()
a = a.lower()
answer = collections.Counter(a)
c = list(answer.values())
if c.count(max(c)) >= 2:
    print("?")
else:
    print(get_key(answer,max(c)).upper())

zZa
Z

In [248]:
def get_key(my_dict, val):
    for key, value in my_dict.items():
        if val == value:
            return key
get_key(answer,4)

'i'

In [261]:
a = list(input().split())
len(a)

The last character is a blank

6

In [265]:
A,B = list(map(int,input().split()))
a1 = A//100
a2 = A//10%10
a3 = A%10
newA = a3*100+a2*10+a1
b1 = B//100
b2 = B//10%10
b3 = B%10
newB = b3*100+b2*10+b1
num = [newA,newB]
print(max(num))

221 231
132

In [268]:
word = input()
t = 0
for i in word:
    if i =='A' or i =='B' or i =='C':
        t += 3
    elif i =='D' or i =='E' or i =='F':
        t += 4
    elif i =='G' or i =='H' or i =='I':
        t += 5
    elif i =='J' or i =='K' or i =='L':
        t += 6
    elif i =='M' or i =='N' or i =='O':
        t += 7
    elif i =='P' or i =='Q' or i =='R' or i =='S':
        t += 8
    elif i =='T' or i =='U' or i =='V':
        t += 9
    elif i =='W' or i =='X' or i =='Y' or i =="Z":
        t += 10
        
print(t)

UNUCIC
36

In [275]:
croatia = ['c=','c-','dz=','d-','lj','nj','s=','z=']
word = input()
for i in croatia:
    word = word.replace(i,"*")
print(len(word))

ljes=njak
6

In [274]:
w = "ljes=njak"
a = w.index("l")
w = w[-a:]
b = w.index("j")
w = w[-b:]
w

'k'

In [279]:
n = int(input())
group_word = 0
for i in range(n):
    word = input()
    error = 0
    for i in range(len(word)-1):
        if word[i] != word[i+1]:
            new_word = word[i+1:]
            if word[i] in new_word:
                error += 1
    if error == 0:
        group_word += 1
print(group_word)

2
yzyzy
zyzyz
0

In [281]:
print('""d')

""d

In [283]:
print(ord("A"))

65

In [286]:
chr(65)

'A'

In [289]:
N = int(input())
for i in range(N):
    answer = input()
    score = [0 for i in range(len(answer))]
    for j in range(len(answer)):
        if answer[j] == "X":
            score[j] = 0
        elif answer[j] == "O":
            if j == 0:
                score[j] = 1
            else:
                score[j] = score[j-1] +1
    
    print(sum(score))
    print(score)

1
OOXXOOXXOO
9
[1, 2, 0, 0, 1, 2, 0, 0, 1, 2]

In [294]:
a = "1952"
b = "19"
a[2:]
a[1]+a[3]
list(a.split())

['1952']

In [318]:
def solution(number, k):
    answer = ''
    arr = [number[i] for i in range(len(number))]
    com = list(combinations(arr,len(number)-k))
    join_com = list(map(int,["".join(com[i]) for i in range(len(com))]))
    answer = str(max(join_com))
    return answer
solution("1231234",3)

'3234'

In [346]:
def solution(number, k):
    stack = []
    for num in number:
        # print(k,stack)
        while stack and stack[-1] < num and k > 0:
            k-=1
            stack.pop()
        stack.append(num)
    #print(stack[:len(stack) - k])
    #print(stack)
    return ''.join(stack[:len(stack) - k])
solution("999",2)

'9'

In [11]:
a = [[1,2,3],[2,3,5]]
b = [[1,2,3],[2,3,5]]
a[1][1]+ b[1][1]
len(a[0])

3

In [13]:
def solution(arr1, arr2):
    answer = []
    for i in range(len(arr1)):
        sum = []
        for j in range(len(arr1[0])):
            sum.append(arr1[i][j] + arr2[i][j])
        answer.append(sum)
    return answer
solution([[1,2,3],[2,3,5]],[[1,2,3],[2,3,5]])

[[2, 4, 6], [4, 6, 10]]

In [55]:
operations = ["I -45", "I 653", "D 1", "I -642", "I 45", "I 97", "D 1", "D -1", "I 333"]
def solution(operations):
    answer = []
    for i in range(len(operations)):
        a,b = operations[i].split(" ")
        if operations[i][0] == "I":
            answer.append(int(b))
        else:
            if len(answer) > 0:
                if b == "1":
                    answer.pop(answer.index(max(answer)))
                else:
                    answer.pop(answer.index(min(answer)))
            else:
                pass
            
    if len(answer) == 0:
        answer = [0,0]
    else:
        answer = [max(answer),min(answer)]
    return answer
solution(operations)

[333, -45]

In [11]:
answer = [5,2,63,43]
answer.pop(answer.index(max(answer)))
answer

[5, 2, 43]

In [23]:
digit = {1:[0,0],2:[0,1],3:[0,2],4:[1,0], 5:[1,1],6:[1,2],7:[2,0],8:[2,1],9:[2,2],"*":[3,0],0:[3,1],"#":[3,2]}
a = digit["*"]
b = digit[2]
abs(a[0]-b[0]) +abs(a[1]-b[1])

4

In [24]:
10%3

1

In [25]:
2+4/2*4

10.0

In [28]:
test_list = ['치킨','피자','삼겹살','족발','초밥','소주']
for data in test_list[::2]:
    if len(data) == 3:
        print(data)
print(test_list[1::2])

삼겹살
['피자', '족발', '소주']

In [30]:
def print_greedings(t):
    t = 'Hello.'
    print("In Fn :", t)
    
x = "Hi"
print_greedings(x)
print("Out Fn :",x)

In Fn : Hello.
Out Fn : Hi

In [31]:
a,b, *c = (14,21,25,39,46,57)
print(c)

[25, 39, 46, 57]

In [32]:
5**5

3125

In [13]:
A,B,C = map(int, input().split())
c = 0
if B >= C:
    c = -1
else :
    c = int(A //(C-B) + 1)
print(c)

2100000000 9 10
2100000001

In [39]:
import datetime
all_ = [["09:10","lee"],["09:00","kim"],["09:05","bae"]]
all_.sort()
h = int(all_[0][0].split(":")[0])
m = int(all_[0][0].split(":")[1])
time_a = datetime.time(h,m + 10) # 고객 업무 처리 후 시간 
time_a

datetime.time(9, 10)

In [41]:
h = int(all_[1][0].split(":")[0])
m = int(all_[1][0].split(":")[1])
time = datetime.time(h,m)
time

datetime.time(9, 5)

In [56]:
time_a = datetime.time(9,14) 
time_b = datetime.time(9,10)
time_a > time_b

True

In [60]:
def solution(booked, unbooked):
    answer = []
    all_ = booked + unbooked
    all_.sort()
    answer.append(all_[0][1]) # 정렬 후 가장 먼저 온 사람은 가장 먼저 처리
    if all_[0] in booked:
        booked.pop(booked.index(all_[0]))
    elif all_[0] in unbooked:
        unbooked.pop(unbooked.index(all_[0]))
    time_a = datetime.time(int(all_[0][0].split(":")[0]),int(all_[0][0].split(":")[1]) + 10) # 첫번째 고객 업무 처리 후 시간 
    
    for i in range(len(all_)):
        
            
    return answer

booked = [["09:10","lee"]]
unbooked = [["09:00","kim"],["09.05","bae"]]
solution(booked,unbooked)

['kim']

In [158]:
def solution(people, tshirts):
    answer = 0
    people.sort()
    tshirts.sort()
    for p in people:
        newList = [x for x in tshirts if x>=p]
        if len(newList) >= 1:
            answer += 1
            tshirts.remove(p)
    return answer

people = [1,2,3,1]
tshirts = [1,2,1]
solution(people,tshirts)

3

In [154]:
tshirts = [1,1]
x for x in tshirts if x>p

SyntaxError: invalid syntax (<ipython-input-154-e3470304f344>, line 1)

In [146]:
tshirts = [1,2,1]
tshirts = np.array(tshirts)
i = np.where(tshirts==2)[0][0]
i

1

In [124]:
tshirts = [1,2,3,1]
tshirts = np.array(tshirts)
i = np.where(tshirts==2)[0][0]
tshirts = np.delete(tshirts,i)
tshirts

array([1, 3, 1])

In [ ]:
from datetime import datetime, timedelta
def solution(booked, unbooked):
    answer = []
    all_ = booked + unbooked
    time = 0
    all_.sort()
    answer.append(all_[0][1]) # 정렬 후 가장 먼저 온 사람은 가장 먼저 처리
    time_a = datetime(2022,7,17,int(all_[0][0].split(":")[0]),int(all_[0][0].split(":")[1])) + timedelta(minutes = 10) 
    # 첫번째 고객 업무 처리 후 시간, 날짜 임의 설정

    for i in range(1,len(all_)):
        h = int(all_[i][0].split(":")[0])
        m = int(all_[i][0].split(":")[1])
        if datetime.time(h,m) < time_a:
            if all_[i] in booked:
                answer.append(all_[i][1])
                time_a  = time_a +  timedelta(minutes = 10)

        
        


    return answer

booked = [["09:10","lee"]]
unbooked = [["09:00",'kim'],["09:05",'bae']]
solution(booked,unbooked)

In [161]:
from datetime import datetime, timedelta
all_ = [["09:10","lee"],["09:00","kim"],["09:05","bae"]]
time_a = datetime(2022,7,17,int(all_[0][0].split(":")[0]),int(all_[0][0].split(":")[1])) + timedelta(minutes = 10) # 첫번째 고객 업무 처리 후 시간
time_a

datetime.datetime(2022, 7, 17, 9, 20)

In [180]:
land = [[1,2,3,5],[5,6,7,8],[4,3,2,1]]
i = land[0].index(max(land[0]))
i = 2
max(land[1][:i] + land[1][i+1:])

8

In [184]:
def solution(land):
    answer = 0
    answer += max(land[0])
    m = land[0].index(max(land[0]))
    for i in range(1,len(land)):
        answer += max(land[i][:m] + land[i][m+1:])
        m = land[i].index(max(land[i]))
    selection = []
    

    return answer

land = [[1,2,3,5],[5,6,7,8],[4,3,2,1]]
solution(land)

16

In [195]:
a = "qwerty"
a[-1]
a[:3]

'qwe'

In [194]:
o = ".ddd."
if o[0] == ".":
        o = o[1:]
if o[-1] == ".":
    o = o[:-1]
o

'ddd'

In [210]:
a,b = map(int, input().split())
l = [[0 for i in range(b)] for j in range(a)]

for i in range(a):
    l[i] = list(map(int,input().split()))

for i in range(a):
    for j in range(b):
        if l[i][j] == 1:

SyntaxError: unexpected EOF while parsing (<ipython-input-210-143248939308>, line 11)

In [219]:
c = int(input())
for i in range(c):
    H,W,N = map(int, input().split())
    n = N//H+1
    f = N%H
    if N%H == 0:
        n = n//h
        f = H
    print(f*100+n)

1
6 12 10
402

In [249]:
apart = [[i+1 for i in range(3)] for j in range(6)]
for h in range(3):
    apart[1][h] = sum(apart[0][0:h+1])
apart

[[1, 2, 3], [1, 3, 6], [1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [231]:
apart[0][0:3]

[1, 2, 3]

In [270]:
c = int(input())
for i in range(c):
    f = int(input())
    n = int(input())
    apart = [[i+1 for i in range(n)] for j in range(f+1)]
    for j in range(1,f+1):
        for k in range(n):
            apart[j][k] = sum(apart[j-1][0:k+1])
    print(apart[f][n-1])

1
1
3
6

In [302]:
import math
N = int(input())
L = list(map(int,input().split()))
sosu = 0
for num in L:
    error = 0
    if num == 1:
        continue
    for j in range(2,int(math.sqrt(num))+1):
        if num % j == 0:
            error += 1
    if error == 0:
        sosu += 1
print(sosu)

4
1 3 5 7
3

In [303]:
import math
A = int(input())
B = int(input())
sosu = 0
L = []
for i in range(A,B+1):
    error = 0
    if i == 1:
        continue
    for j in range(2,int(math.sqrt(i))+1):
        if i % j == 0:
            error += 1
    if error == 0:
        sosu += 1
        L.append(i)
print(sum(L))
print(min(L))

60
100
620
61

In [7]:
from itertools import combinations
def sosu(i):
    if i == 1:
        return False
    for j in range(2,int(i**0.5)+1):
        if i%j == 0:
            return False
    return True

sosu_list = []
for i in range(4,10000):
    if sosu(i):
        sosu_list.append(i)
sum_sosu = list(combinations(sosu_list,2))
sum_sosu[0][1]

7

In [16]:
from itertools import combinations
def sosu(i):
    if i == 1:
        return False
    for j in range(2,int(i**0.5)+1):
        if i%j == 0:
            return False
    return True

sosu_list = []
for i in range(4,10000):
    if sosu(i):
        sosu_list.append(i)
sosu_list
len(sosu_list)

1227

In [17]:
c = int(input())
for i in range(c):
    N = int(input())
    sum_list = []
    t = []
    for i in range(len(sum_sosu)):
        if sum(sum_sosu[i]) == N:
            sum_list.append(sum_sosu[i])
            t.append(abs(sum_sosu[i][0]-sum_sosu[i][1]))
        else:
            continue                   
    #i = t.index(min(t))
    #print(sum_list[i][0],sum_list[i][1])
    print(t)
    print(sum_sosu)

1
1

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [96]:
def su(n):
    s = []
    if n == 1:
        return 1
    for i in range(1,(n//2)+1):
        if n % i == 0:
            s.append(i)
            s.append(n//i)
    s = list(set(s))
    return len(s)

su(1)

1

In [98]:
int(str(10),3)

3

In [109]:
def solution(n):
    answer = 0
    a = ""
    if n == 1:
        return 1
    if n == 2:
        return 2
    else:
        while(1):
            if n // 3 < 3:
                a += str(n%3)
                a += str(n//3)
                break
            a += str(n%3)
            n = n//3            
    answer = int(a,3)
    return answer

solution(45)

7

In [126]:
N,M = map(int,input().split())
l = list(map(int,input().split()))
s_3 = []
r = []
for i in range(N):
    for j in range(i+1,N):
        for k in range(j+1,N):
            s_3.append(l[i] + l[j] + l[k])
            if M-(l[i] + l[j] + l[k]) >= 0:
                r.append(M-(l[i] + l[j] + l[k]))
print(M - min(r))

5 21
5 6 7 8 9
21

In [130]:
n = int(input())
length = len(str(n))
new_list = []
for i in range(1,10):
    for j in range(10):
        for k in range(10):
            new_num = i*100 + j*10 + k
            if new_num + i + j + k == n:
                new_list.append(new_num)
                
if len(new_list) == 0:
    print(0)
else:
    print(min(new_list))

356
0

In [133]:
n = 150
len(str(n))

3

In [138]:
scoville = [1,2,3,9,10,12]
new_s = scoville[0] + (scoville[1]*2)
scoville = scoville[2:]
scoville.insert(0,new_s)
scoville

[5, 3, 9, 10, 12]

In [28]:
number = 12
dp = [[] for _ in range(9)]
for i in range(1,9):
    dp[i].append(int(str(N)*i))
    for j in range(1,i):
        for one in dp[j]:
            for two in dp[i-j]:
                dp[i].append(one+two)
                dp[i].append(abs(one-two))
                dp[i].append(one*two)
                if two != 0:
                    dp[i].append(one//two)
                if one != 0:
                    dp[i].append(two//one)
    dp[i] = list(set(dp[i]))
    if number in dp[i]:
        answer = i
        break
answer
dp

[[],
 [5],
 [0, 1, 10, 55, 25],
 [0, 2, 4, 5, 6, 555, 11, 15, 50, 275, 20, 60, 125, 30],
 [0,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  130,
  9,
  10,
  11,
  12,
  270,
  15,
  16,
  20,
  150,
  280,
  25,
  26,
  24,
  30,
  35,
  550,
  300,
  45,
  560,
  50,
  5555,
  54,
  55,
  56,
  65,
  75,
  80,
  3025,
  2775,
  1375,
  100,
  110,
  111,
  625,
  120,
  250],
 [],
 [],
 [],
 []]

In [68]:
import collections
X = "100"
Y = "20"
X_l = [X[i] for i in range(len(X))]
Y_l = [Y[i] for i in range(len(Y))]
X_C = collections.Counter(X_l)
Y_C = collections.Counter(Y_l)
K_l = X_C & Y_C
K_l.keys() == {'0'}

True

In [69]:
n_number = [0, 0, 0]
list(set(n_number)) == [0]

True

In [93]:
def solution(want, number, discount):
    answer = 0
    p = []
    for w in want:
        if w not in list(set(discount)):
            return 0
        else:
            p.append(discount.index(w))    
    p.sort()

    start = p[0]
    for i in range(start,len(discount)-9):
        n = list(number)
        for j in range(i,i+10):
            if discount[j] in want:
                n[want.index(discount[j])] -= 1
                print(n)
        if list(set(n)) == [0]:
            answer += 1
    
    return answer
    
want = ["banana","apple","rice","pork","pot"]
number = [3,2,2,2,1]
discount = ["chicken","apple","apple","banana","rice","apple","pork","banana","pork","rice","pot","banana","apple","banana"]
solution(want,number,discount)

[3, 1, 2, 2, 1]
[3, 0, 2, 2, 1]
[2, 0, 2, 2, 1]
[2, 0, 1, 2, 1]
[2, -1, 1, 2, 1]
[2, -1, 1, 1, 1]
[1, -1, 1, 1, 1]
[1, -1, 1, 0, 1]
[1, -1, 0, 0, 1]
[1, -1, 0, 0, 0]
[3, 1, 2, 2, 1]
[2, 1, 2, 2, 1]
[2, 1, 1, 2, 1]
[2, 0, 1, 2, 1]
[2, 0, 1, 1, 1]
[1, 0, 1, 1, 1]
[1, 0, 1, 0, 1]
[1, 0, 0, 0, 1]
[1, 0, 0, 0, 0]
[0, 0, 0, 0, 0]
[2, 2, 2, 2, 1]
[2, 2, 1, 2, 1]
[2, 1, 1, 2, 1]
[2, 1, 1, 1, 1]
[1, 1, 1, 1, 1]
[1, 1, 1, 0, 1]
[1, 1, 0, 0, 1]
[1, 1, 0, 0, 0]
[0, 1, 0, 0, 0]
[0, 0, 0, 0, 0]
[3, 2, 1, 2, 1]
[3, 1, 1, 2, 1]
[3, 1, 1, 1, 1]
[2, 1, 1, 1, 1]
[2, 1, 1, 0, 1]
[2, 1, 0, 0, 1]
[2, 1, 0, 0, 0]
[1, 1, 0, 0, 0]
[1, 0, 0, 0, 0]
[0, 0, 0, 0, 0]

3

In [109]:
from itertools import combinations
def sosu(i):
    if i == 1:
        return False
    else:
        for j in range(2,int(i**0.5)+1):
            if i%j == 0:
                return False
        return True
def solutions(nums):
    answer = 0
    c = list(combinations(nums,3))
    sum_c = []
    for i in range(len(c)):
        sum_c.append(sum(c[i]))
    
    print(sum_c)
    len(sum_c)
    sum_c = list(set(sum_c))
    print(sum_c)
    len(sum_c)
    for i in sum_c:
        if sosu(i):
            answer += 1
    return answer

nums = [1, 2, 7, 6, 9, 12, 13, 17]
solutions(nums)

[10, 9, 12, 15, 16, 20, 14, 17, 20, 21, 25, 16, 19, 20, 24, 22, 23, 27, 26, 30, 31, 15, 18, 21, 22, 26, 17, 20, 21, 25, 23, 24, 28, 27, 31, 32, 22, 25, 26, 30, 28, 29, 33, 32, 36, 37, 27, 28, 32, 31, 35, 36, 34, 38, 39, 42]
[9, 10, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 42]

6

In [131]:
n = int(input())
t = abs(n - (len(str(n))*9))
for i in range(n):
    temp = sum(map(int,list(str(i))))
    result = temp + i
    if result == n:
        print(i)
        break
else:
    print(0)

216
198

In [129]:
# 리스트 합치고 다시 풀기
t = "1234"
print(sum(map(int,list(t))))

10

In [126]:
t = "1234"
l_t = list(t)
print(l_t)

['1', '2', '3', '4']

In [140]:
a = 5.5
float(a)

5.5

In [155]:
b = 6.7854
b_1 = "{:.1f}".format(b)
b_2 = "{:.2f}".format(b)
b_3 = "{:.3f}".format(b)
print(b_1)
print(b_2)
print(b_3)

6.8
6.79
6.785

In [159]:
a = 3
b = 4
print(a ** b)
print(a % b)

81
3

In [158]:
b = 6.7854
round(b)   # 7
round(b,1) # 6.8
round(b,2) # 6.79
round(b,3) # 6.785
b

6.7854

In [160]:
import math
math.sqrt(25) == 25**0.5

True

In [180]:
a = 'aaabccdabcd'
a.count('a') # 4
a.count('a', 1) # 3
a.count('a', 0, 5) # 3
a.count('a', 5, 9) # 1

1

In [184]:
a = 'aaabccdabcd'
a.find('b')    # 3
a.find('b', 5) # 8
a.find('z')    # -1

-1

In [187]:
a = 'aaabccdabcd'
a.index('b')    # 3
a.index('b', 5) # 8
a.index('z')    # -1

ValueError: substring not found

In [173]:
a = "abcde"
",".join(a) # 'a,b,c,d,e'

'a,b,c,d,e'

In [176]:
a = 10
b = str(a)
c = float(b)
a # 10
b # '10'
c # 10.0

10.0

In [189]:
a = "Life is too short"
a.replace("Life", "Your leg") # 'Your leg is too short'
a

'Life is too short'

In [194]:
a = 'abcde'
a_l = list(a)
str(a_l)

"['a', 'b', 'c', 'd', 'e']"

In [195]:
str(10)

'10'

In [197]:
str("love")

'love'

In [200]:
a = 'a,b,c,d,e,f,g'
a.split(',')

b = 'You makes me happy.'
b.split(" ")

c = 'abc, aaa, , dgc, sde'
c.split(" ")

['abc,', 'aaa,', ',', 'dgc,', 'sde']

In [203]:
a = 7
b = 5
print(a//b, a%b)

1 2

In [205]:
mylist = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
new_list = list(map(list, zip(*mylist)))
print(new_list)
print(mylist)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [209]:
>>> mylist = [1,2,3]
>>> new_list = [40,50,60]
>>> for i in zip(mylist,new_list):
        print(i)

(1, 40)
(2, 50)
(3, 60)

In [211]:
>>> animals = ['cat', 'dog', 'lion']
>>> sounds = ['meow', 'woof', 'roar']
>>> dict(zip(animals,sounds))

{'cat': 'meow', 'dog': 'woof', 'lion': 'roar'}

In [213]:
>>> list1 = [3,2,5,1]
>>> list2 = sorted(list1)
>>> list1
>>> list2
>>> list1.sort()

In [218]:
>>> def solution(mylist):
        answer = []
        for number1, number2 in zip(mylist, mylist[1:]):
            answer.append(abs(number1 - number2))
        # 동일한 방법)
        # for i in range(len(mylist)-1):
            # answer.append(abs(mylist)[i] - mylist[i+1]))
        return answer

>>> mylist = [83, 48, 13, 4, 71, 11]    
>>> print(solution(mylist))
# [35, 35, 9, 67, 60]

[35, 35, 9, 67, 60]

In [222]:
>>> def solution(mylist):
        answer = list(map(len,mylist))
        return answer
>>> mylist = [[1, 2], [3, 4], [5]]
>>> solution(mylist)

[2, 2, 1]

In [224]:
>>> my_list = ['1', '100', '33']
>>> ''.join(my_list)

'110033'

In [227]:
>>> import itertools

>>> iterable1 = 'ABCD'
>>> iterable2 = 'xy'
>>> iterable3 = '1234'
>>> print(list(itertools.product(iterable1, iterable2, iterable3)))

[('A', 'x', '1'), ('A', 'x', '2'), ('A', 'x', '3'), ('A', 'x', '4'), ('A', 'y', '1'), ('A', 'y', '2'), ('A', 'y', '3'), ('A', 'y', '4'), ('B', 'x', '1'), ('B', 'x', '2'), ('B', 'x', '3'), ('B', 'x', '4'), ('B', 'y', '1'), ('B', 'y', '2'), ('B', 'y', '3'), ('B', 'y', '4'), ('C', 'x', '1'), ('C', 'x', '2'), ('C', 'x', '3'), ('C', 'x', '4'), ('C', 'y', '1'), ('C', 'y', '2'), ('C', 'y', '3'), ('C', 'y', '4'), ('D', 'x', '1'), ('D', 'x', '2'), ('D', 'x', '3'), ('D', 'x', '4'), ('D', 'y', '1'), ('D', 'y', '2'), ('D', 'y', '3'), ('D', 'y', '4')]

In [229]:
>>> my_list = [[1, 2], [3, 4, 5], [6, 7]]

>>> # 방법 1 - sum 함수
>>> answer = sum(my_list, [])
>>> print(answer)

[1, 2, 3, 4, 5, 6, 7]

In [230]:
>>> # 방법 2 - itertools.chain
>>> import itertools
>>> print(list(itertools.chain.from_iterable(my_list)))

[1, 2, 3, 4, 5, 6, 7]

In [234]:
>>> import collections
>>> my_list = [1, 2, 3, 4, 5, 6, 7, 8, 7, 9, 1, 2, 3, 3, 5, 2, 6, 8, 9, 0, 1, 1, 4, 7, 0]
>>> answer = collections.Counter(my_list)
>>> print(answer)
>>> print(answer[1])

Counter({1: 4, 2: 3, 3: 3, 7: 3, 4: 2, 5: 2, 6: 2, 8: 2, 9: 2, 0: 2})
4

In [11]:
answer = '1367'
"".join(map(str,answer[::-1]))

'7631'

In [14]:
>>> a = 'abcdedf'
>>> a[::-1]

'fdedcba'

In [15]:
>>> a = [1,2,3,4,5,6,7,8]
>>> a[1:8:2]

[2, 4, 6, 8]

In [19]:
>>> a = 'aghwdxvqa'
>>> a[1:]
>>> a[::2]
>>> a[::-1]
>>> a[1] = 'g'

TypeError: 'str' object does not support item assignment

In [28]:
dic1 = dict([('name','Soo'),('gender','W'),('age', 26)])
dic1

dic2 = {'name': 'Soo', 'gender': 'W', 'age': 26}
dic2

dic1 == dic2

True

In [39]:
a = {"a": 4, "b": 8, "c": 3}
a["a"]
a["b"]
#a["z"]
a.keys()

dict_keys(['a', 'b', 'c'])

In [43]:
>>> a = {"name":"god", "sleep":"good","study":"hard"}
>>> a.keys()
>>> a.values()
>>> a.items()

dict_items([('name', 'god'), ('sleep', 'good'), ('study', 'hard')])

In [45]:
a = [[0,3],[5,6],[2,1]]
a.sort()
a

[[0, 3], [2, 1], [5, 6]]

In [5]:
>>> #응용
>>> l = ["a","b","g","c","g","a","e","g","g","v","b","c","d","a"]
>>> from collections import Counter
>>> a_c = Counter(l)
>>> a_l =""
>>> for key,value in a_c.items():
        for _ in range(value):
            a_l += key
>>> a_l

'aaabbggggccevd'

In [25]:
N =int(input())
a = 666
c = 0
while(1):
    if '666' in str(a):
        c += 1
    if c == N:
        break
    else:
        a += 1
print(a)

10
6663

In [10]:
'666' in '1666'

True

In [32]:
N = int(input())
n =[]
for i in range(N):
    n.append(int(input()))
n.sort()
for i in range(N):
    print(n[i])

5
5
2
3
4
1
1
2
3
4
5

In [58]:
import sys
from collections import Counter
n = int(sys.stdin.readline())
li = []
for _ in range(n):
    li.append(int(sys.stdin.readline()))
 
# 산술평균 - 다 더해서 / n
print(round(sum(li)/n))
 
# 중앙값 - 오름차순 -> 중간값
li.sort()
print(li[n//2])
 
# 최빈값 - 빈출
cnt_li = Counter(li).most_common()
if len(cnt_li) > 1 and cnt_li[0][1]==cnt_li[1][1]: #최빈값 2개 이상
    print(cnt_li[1][0])
else:
    print(cnt_li[0][0])
 
# 범위 - 최댓값-최솟값
print(max(li)-min(li))

ValueError: invalid literal for int() with base 10: ''

In [1]:
start = ["ICN"]
start[-1]

'ICN'

In [2]:
r = {"ICN":["SFO","ATL"],"SFO":["ATL"],"ATL":["SFO","ICN"]}
r["ICN"].pop()

'ATL'

In [7]:
def solution(tickets):
    routes = dict()
    for i in tickets:
        if i[0] in routes:
            routes[i[0]].append(i[1])
        else:
            routes[i[0]] = [i[1]]
            
    for i in routes.keys():
        routes[i].sort(reverse = True)
        
    return routes
solution([['ICN','JFK'],['HND','IAD']])

{'ICN': ['JFK'], 'HND': ['IAD']}

In [10]:
def solution(tickets):
    routes = dict()
    for i in tickets:
        if i[0] in routes:
            routes[i[0]].append(i[1])
        else:
            routes[i[0]] = [i[1]]
            
    for i in routes.keys():
        routes[i].sort(reverse = True)
    
    start = ["ICN"]
    path = []
    while start:
        top = start[-1]
        if top not in routes or not routes[top]:
            path.append(start.pop())
        else:
            start.append(routes[top].pop())

    return routes

solution([['ICN','JFK'],['HND','IAD']])

['ICN', 'JFK']

In [ ]:
def solution(tickets):
    
    routes = dict()
    for i in tickets:
        if i[0] in routes:
            routes[i[0]].append(i[1])
        else:
            routes[i[0]] = [i[1]]
            
    for i in routes.keys():
        routes[i].sort(reverse = True)
        
    answer = []
    start = ["ICN"]
    
    while start:
        target = start[-1]  
        if target not in routes or len(routes[target]) == 0:
            answer.append(start.pop())
        else:
            start.append(routes[target].pop())
            
    return answer[::-1]

In [3]:
N = int(input())
l = list(str(N))
l.sort(reverse = True)
print("".join(map(str,l)))

999998999
999999998

In [10]:
N = int(input())
l = [[0,0] for i in range(N)]
for i in range(N):
    a,b = map(int,input().split())
    l[i][0] = a
    l[i][1] = b
l.sort()
print(l)

5
4 5
1 2
1 7
-5 8
4 6
[[-5, 8], [1, 2], [1, 7], [4, 5], [4, 6]]

In [12]:
N = int(input())
l = [[0,0] for i in range(N)]
for i in range(N):
    a,b = map(int,input().split())
    l[i][0] = a
    l[i][1] = b
    
l.sort(key = lambda x:(x[1],x[0]))
for i in range(N):
    print(l[i][0],l[i][1])

5
0 4
1 2
1 -1
2 2
3 3
1 -1
1 2
2 2
3 3
0 4

In [14]:
N = int(input())
l = []
for i in range(N):
    l.append(input())    
l.sort(key = lambda x:(len(x)))
for i in range(N):
    print(l[i])

5
but
i
wont
hesitate
no
i
no
but
wont
hesitate

In [17]:
import sys
N = int(input())
l = []
for i in range(N):
    a,b = map(str,input().split())
    l.append([int(a),b])
l.sort(key = lambda x:(x[0]))
for i in range(N):
    print(l[i][0],l[i][1])

3
20 dads
21 qwe
20 p
20 dads
20 p
21 qwe

In [22]:
import sys
N = int(input())
l = list(map(int, input().split()))
l2 = list(set(l))
l2.sort()
for i in l:
    print(l2.index(i),end=" ")

6
1000 999 1000 999 1000 999
1 0 1 0 1 0

In [1]:
N,M = map(int,input().split())
original = []
count = []
for _ in range(N):
    original.append(input())    
for a in range(N-7):
    for b in range(M-7):
        index_W = 0
        index_B = 0
        for i in range(a,a+8):
            for j in range(b,b+8):
                if (i+j) % 2 == 0:
                    if original[i][j] != 'W':
                        index_W += 1
                    if original[i][j] != 'B':
                        index_B += 1
                else:
                    if original[i][j] != 'W':
                        index_B += 1
                    if original[i][j] != 'B':
                        index_W += 1
        count.append(min(index_W, index_B))
print(min(count))

8 8
WBWBWBWB
WWWWWWWW
BBBBBBBB
WBWBWBWB
WBWBWBWB
BWBWBWBW
WBWBWBWB
WBWBWBWB
24

In [4]:
import sys
N = int(input())
l_n = list(map(int,input().split()))
M = int(input())
l_m = list(map(int,input().split()))
for i in range(M):
    if l_m[i] in l_n:
        l_m[i] = 1
    else:
        l_m[i] = 0
print(" ".join(map(str,l_m)))

5
6 3 2 10 -10
8
10 9 -5 2 3 4 5 -10
10011001

In [7]:
answer = [2,3,0,1], [2,3,2,1]
max_virus = 2
max_virus+1 in answer

False

In [9]:
a = [[0,0,0,0,0,0],[0,0,1,0,1,0],[0,2,3,2,0,0],[1,2,2,3,0,0],[0,1,3,0,0,0]]
a_a = [[a[j][i] for i in range(1,5)] for j in range(1,4)]
a_a

[[0, 1, 0, 1], [2, 3, 2, 0], [2, 2, 3, 0]]