# ğŸ“Œ ë°ì´í„° ì‚¬ì´ì–¸ìŠ¤ ì‹œì‘í•˜ê¸°

## 3ï¸âƒ£ Numpy

## 02. numpy arrayì˜ ìƒê¹€ìƒˆ

In [1]:
import numpy as np

In [2]:
array = np.array([2,3,4,5,6,7,11,13,16,8,97,1])
array

array([ 2,  3,  4,  5,  6,  7, 11, 13, 16,  8, 97,  1])

In [3]:
type(array)

numpy.ndarray

In [4]:
print(type(array))
print(array.shape)
print(array.size)

<class 'numpy.ndarray'>
(12,)
12

In [5]:
array2 = np.array([[1,2,3,4],[5,6,7,8],[9,10,11,12]])
array2

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [6]:
type(array2)

numpy.ndarray

In [7]:
print(type(array2))
print(array2.shape)
print(array2.size)

<class 'numpy.ndarray'>
(3, 4)
12

## 03. numpy arrayë¥¼ ë§Œë“œëŠ” ë‹¤ì–‘í•œ ë°©ë²•

### 1) íŒŒì´ì¬ ë¦¬ìŠ¤íŠ¸ë¥¼ í†µí•´ ìƒì„±

In [1]:
import numpy as np

In [2]:
array1 = np.array([2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31])
print(array1)

[ 2  3  5  7 11 13 17 19 23 29 31]

### 2) ê· ì¼í•œ ê°’ìœ¼ë¡œ ìƒì„±

In [3]:
array1 = np.full(6, 7)
    
print(array1)

[7 7 7 7 7 7]

### 3) ëª¨ë“  ê°’ì´ 0ì¸ numpy array ìƒì„± : np.zeros

In [4]:
array1 = np.full(6, 0)
array2 = np.zeros(6, dtype=int)
    
print(array1)
print()
print(array2)

[0 0 0 0 0 0]

[0 0 0 0 0 0]

### 4) ëª¨ë“  ê°’ì´ 1ì¸ numpy array ìƒì„± : np.ones

In [5]:
array1 = np.full(6, 1)
array2 = np.ones(6, dtype=int)
    
print(array1)
print()
print(array2)

[1 1 1 1 1 1]

[1 1 1 1 1 1]

### 5) ëœë¤í•œ ê°’ë“¤ë¡œ ìƒì„± : np.random.random

In [6]:
array1 = np.random.random(6)
array2 = np.random.random(6)
    
print(array1)
print()
print(array2)

[0.39796838 0.07065967 0.73699278 0.36337518 0.68031411 0.6678855 ]

[0.04772921 0.57199461 0.41901123 0.89168876 0.87903038 0.07962813]

### 6) ì—°ì†ëœ ê°’ë“¤ì´ ë‹´ê¸´ numpy array ìƒì„± : np.arange

arange í•¨ìˆ˜ëŠ” íŒŒì´ì¬ì˜ ê¸°ë³¸ í•¨ìˆ˜ì¸ rangeì™€ êµ‰ì¥íˆ ë¹„ìŠ·í•œ ì›ë¦¬ë¡œ ë™ì‘í•©ë‹ˆë‹¤.

#### â‘  íŒŒë¼ë¯¸í„° 1ê°œ
#### arange(m)ì„ í•˜ë©´ 0ë¶€í„° m-1ê¹Œì§€ì˜ ê°’ë“¤ì´ ë‹´ê¸´ numpy arrayê°€ ë¦¬í„´ë©ë‹ˆë‹¤.

In [7]:
array1 = np.arange(6)
print(array1)

[0 1 2 3 4 5]

#### â‘¡ íŒŒë¼ë¯¸í„° 2ê°œ
#### arange(n, m)ì„ í•˜ë©´ në¶€í„° m-1ê¹Œì§€ì˜ ê°’ë“¤ì´ ë‹´ê¸´ numpy arrayê°€ ë¦¬í„´ë©ë‹ˆë‹¤.

In [8]:
array1 = np.arange(2, 7)
print(array1)

[2 3 4 5 6]

#### â‘¢ íŒŒë¼ë¯¸í„° 3ê°œ
#### arange(n, m, s)ë¥¼ í•˜ë©´ në¶€í„° m-1ê¹Œì§€ì˜ ê°’ë“¤ ì¤‘ ê°„ê²©ì´ sì¸ ê°’ë“¤ì´ ë‹´ê¸´ numpy arrayê°€ ë¦¬í„´ë©ë‹ˆë‹¤.

In [9]:
array1 = np.arange(3, 17, 3)
print(array1)

[ 3  6  9 12 15]

## 04. ëª¨ë“ˆ ë³„ëª… ì§€ì–´ì£¼ê¸°

In [1]:
import numpy as np
import matplotlib.pyplot as plt

## 05. numpy array ìƒì„± ì—°ìŠµ I
### ì‹¤ìŠµê³¼ì œ

#### 1ë¶€í„° 100ê¹Œì§€(1ê³¼ 100 í¬í•¨) ë‹´ê²¨ ìˆëŠ” numpy arrayë¥¼ ìƒì„±í•˜ê³  ì¶œë ¥í•´ ì£¼ì„¸ìš”.

#### ì •ë‹µ ì¶œë ¥ ì½”ë“œëŠ” print(arr)ì´ ì•„ë‹Œ arrë¡œ ì‘ì„±í•´ ì£¼ì„¸ìš”.

In [1]:
import numpy as np

In [2]:
array = np.arange(1,101)
array

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100])

## 06. numpy array ìƒì„± ì—°ìŠµ II
### ì‹¤ìŠµê³¼ì œ
#### 1 ì´ìƒ 100 ì´í•˜ì˜ ìì—°ìˆ˜(ìˆ˜ë‚˜ ìˆœì„œë¥¼ ì…€ ë•Œ ì“°ëŠ” 1, 2, 3 ê³¼ ê°™ì€ ìˆ˜) ì¤‘ 3ì˜ ë°°ìˆ˜ë§Œ ë‹´ê²¨ ìˆëŠ” numpy arrayë¥¼ ìƒì„±í•˜ê³  ì¶œë ¥í•´ ì£¼ì„¸ìš”.

#### ì •ë‹µ ì¶œë ¥ ì½”ë“œëŠ” print(arr)ì´ ì•„ë‹Œ arrë¡œ ì‘ì„±í•´ ì£¼ì„¸ìš”.

In [1]:
import numpy as np

In [2]:
array = np.arange(3,101,3)
array

array([ 3,  6,  9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51,
       54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99])

## 07. ì¸ë±ì‹±, ìŠ¬ë¼ì´ì‹±

In [1]:
import numpy as np

In [2]:
array1 = np.array([2,3,5,7,11,13,17,19,23,29,31])

In [3]:
print(array1[0])
print(array1[2])
print(array1[-1])
print(array1[-2])

2
5
31
29

In [4]:
array1[[1,3,4]]

array([ 3,  7, 11])

In [5]:
array2 = np.array([2,1,3])
array1[array2]

array([5, 3, 7])

In [6]:
print(array1[2:7])
print(array1[0:7])
print(array1[:7])
print(array1[2:11:2])
print(array1[2:11:3])

[ 5  7 11 13 17]
[ 2  3  5  7 11 13 17]
[ 2  3  5  7 11 13 17]
[ 5 11 17 23 31]
[ 5 13 23]

## 08. numpy ê¸°ë³¸ ì—°ì‚°

In [1]:
import numpy as np

In [2]:
array1 = np.arange(10)
array2 = np.arange(10,20)

In [3]:
array1

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [4]:
array2

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

In [5]:
array1*2

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18])

In [6]:
array1+2

array([ 2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [7]:
array1**2

array([ 0,  1,  4,  9, 16, 25, 36, 49, 64, 81], dtype=int32)

In [8]:
array1

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [9]:
array1 = array1*2
array1

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18])

In [10]:
array1 = np.arange(10)
array2 = np.arange(10,20)

In [11]:
array1+array2

array([10, 12, 14, 16, 18, 20, 22, 24, 26, 28])

In [12]:
array1/array2

array([0.        , 0.09090909, 0.16666667, 0.23076923, 0.28571429,
       0.33333333, 0.375     , 0.41176471, 0.44444444, 0.47368421])

## 09. ì‹ ì£¼ì¿  í¥ë¶€ë¶€ëŒ€ì°Œê°œ
### ì‹¤ìŠµê³¼ì œ

#### ì¼ë³¸ì—ëŠ” í•œì‹ ì—´í’ì´ ë¶ˆê³  ìˆìŠµë‹ˆë‹¤. ê¸°íšŒë¥¼ ì—¿ë³¸ ì˜í›ˆì´ëŠ” ëŒ€ê¸°ì—…ì„ í‡´ì‚¬í•˜ê³  ì‹ ì£¼ì¿ ì— í”„ëœì°¨ì´ì¦ˆ â€˜í¥ë¶€ë¶€ëŒ€ì°Œê°œâ€™ ê°€ë§¹ì ì„ ëƒˆìŠµë‹ˆë‹¤.

#### ê·¸ëŸ¬ë‚˜ ë³´ìˆ˜ì ì¸ ì•„ë²„ì§€ê»˜ì„œëŠ” ë²ˆë“¯í•œ ì§ì¥ì„ ë°•ì°¨ê³  ë‚˜ì˜¨ ì˜í›ˆì´ê°€ ëª»ë§ˆë•…í•©ë‹ˆë‹¤. ì•„ë²„ì§€ë¥¼ ì•ˆì‹¬ì‹œì¼œ ë“œë¦¬ê¸° ìœ„í•´ ë§¤ë‹¬ ë§¤ì¶œì„ ë³´ê³ í•˜ë ¤ê³  í•˜ëŠ”ë°ìš”. ì—”í™”(Â¥)ë¡œ ì €ì¥í•œ ë§¤ì¶œ ë°ì´í„°ë¥¼ ì›í™”(â‚©)ë¡œ ë³€í™˜í•˜ëŠ” ì‘ì—…ì´ í•„ìš”í•©ë‹ˆë‹¤.

#### ë§ˆì¹¨ numpyë¥¼ ë°°ìš´ ìš°ë¦¬ê°€ ë„ì™€ì¤„ ìˆ˜ ìˆê² ë„¤ìš”. ì—”í™” ë§¤ì¶œì´ ë‹´ê²¨ ìˆëŠ” íŒŒì´ì¬ ë¦¬ìŠ¤íŠ¸ê°€ ì£¼ì–´ì¡ŒìŠµë‹ˆë‹¤. 1ì—”ì— 10.08ì›ì´ë¼ê³  ê°€ì •í•˜ê³ , ì›í™” ë§¤ì¶œì´ ë‹´ê¸´ numpy arrayë¥¼ ë§Œë“¤ì–´ ì¶œë ¥í•´ ì£¼ì„¸ìš”.

#### ë°˜ë³µë¬¸ì€ ì‚¬ìš©í•˜ë©´ ì•ˆ ë©ë‹ˆë‹¤!

#### ì •ë‹µ ì¶œë ¥ ì½”ë“œëŠ” printê°€ ì—†ëŠ” ë°©ì‹ìœ¼ë¡œ ì‘ì„±í•´ ì£¼ì„¸ìš”. (ì˜ˆì‹œ: won_array)

In [1]:
import numpy as np

revenue_in_yen = [
    300000, 340000, 320000, 360000, 
    440000, 140000, 180000, 340000, 
    330000, 290000, 280000, 380000, 
    170000, 140000, 230000, 390000, 
    400000, 350000, 380000, 150000, 
    110000, 240000, 380000, 380000, 
    340000, 420000, 150000, 130000, 
    360000, 320000, 250000
]

# ì½”ë“œë¥¼ ì‘ì„±í•˜ì„¸ìš”.
won_array = np.array(revenue_in_yen) * (10.08)

# ì •ë‹µ ì¶œë ¥
won_array

array([3024000., 3427200., 3225600., 3628800., 4435200., 1411200.,
       1814400., 3427200., 3326400., 2923200., 2822400., 3830400.,
       1713600., 1411200., 2318400., 3931200., 4032000., 3528000.,
       3830400., 1512000., 1108800., 2419200., 3830400., 3830400.,
       3427200., 4233600., 1512000., 1310400., 3628800., 3225600.,
       2520000.])

## 10. í¥ë¶€ë¶€ëŒ€ì°Œê°œ LA ì§„ì¶œ
### ì‹¤ìŠµê³¼ì œ

#### í¥ë¶€ë¶€ëŒ€ì°Œê°œ ì‹ ì£¼ì¿ ì ì˜ í¥í–‰ì— ì„±ê³µí•œ ì˜í›ˆì´ëŠ” ì—¬ì„¸ë¥¼ ëª°ì•„ LAì—ë„ ê°€ë§¹ì ì„ í•˜ë‚˜ ëƒˆìŠµë‹ˆë‹¤.

#### ì´ì œ ì•„ë²„ì§€ê»˜ ë§¤ì¶œì„ ë³´ê³ í•˜ê¸° ìœ„í•œ í”„ë¡œì„¸ìŠ¤ê°€ ì¡°ê¸ˆ ë³µì¡í•´ì¡ŒìŠµë‹ˆë‹¤. ê° ì§€ì ì˜ ë§¤ì¶œì„ ì›í™”ë¡œ ë³€í™˜ì‹œí‚¤ê³  ë”í•´ì•¼ í•˜ì£ . 1ì—”ì— 10.08ì›, 1ë‹¬ëŸ¬ì— 1138ì›ì´ë¼ê³  ê°€ì •í•˜ì„¸ìš”. ê·¸ë¦¬ê³  ë‘ ì§€ì ì˜ ë§¤ì¶œì˜ í•©ì´ ì›í™”ë¡œ ë‹´ê¸´ numpy arrayë¥¼ ë§Œë“¤ì–´ ì¶œë ¥í•´ì£¼ì„¸ìš”.

#### ë°˜ë³µë¬¸ì€ ì‚¬ìš©í•˜ë©´ ì•ˆ ë©ë‹ˆë‹¤!

#### ì •ë‹µ ì¶œë ¥ ì½”ë“œëŠ” printê°€ ì—†ëŠ” ë°©ì‹ìœ¼ë¡œ ì‘ì„±í•´ ì£¼ì„¸ìš”. (ì˜ˆì‹œ: won_array)

In [1]:
import numpy as np

revenue_in_yen = [
    300000, 340000, 320000, 360000, 
    440000, 140000, 180000, 340000, 
    330000, 290000, 280000, 380000, 
    170000, 140000, 230000, 390000, 
    400000, 350000, 380000, 150000, 
    110000, 240000, 380000, 380000, 
    340000, 420000, 150000, 130000, 
    360000, 320000, 250000
]

revenue_in_dollar = [
    1200, 1600, 1400, 1300, 
    2100, 1400, 1500, 2100, 
    1500, 1500, 2300, 2100, 
    2800, 2600, 1700, 1400, 
    2100, 2300, 1600, 1800, 
    2200, 2400, 2100, 2800, 
    1900, 2100, 1800, 2200, 
    2100, 1600, 1800
]

# ì½”ë“œë¥¼ ì‘ì„±í•˜ì„¸ìš”.

won_array = np.array(revenue_in_yen)*10.08 + np.array(revenue_in_dollar)*1138

# ì •ë‹µ ì¶œë ¥
won_array

array([4389600., 5248000., 4818800., 5108200., 6825000., 3004400.,
       3521400., 5817000., 5033400., 4630200., 5439800., 6220200.,
       4900000., 4370000., 4253000., 5524400., 6421800., 6145400.,
       5651200., 3560400., 3612400., 5150400., 6220200., 7016800.,
       5589400., 6623400., 3560400., 3814000., 6018600., 5046400.,
       4568400.])

## 11. numpy ë¶ˆë¦° ì—°ì‚°

In [1]:
import numpy as np

In [2]:
array1 = np.array([2,3,5,7,11,13,17,19,23,29,31])

In [3]:
array1 > 4

array([False, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True])

In [4]:
array1 % 2 == 0

array([ True, False, False, False, False, False, False, False, False,
       False, False])

In [5]:
booleans = np.array([True, True, False, True, True, False, True, True, True, False, True])

In [6]:
np.where(booleans)

(array([ 0,  1,  3,  4,  6,  7,  8, 10], dtype=int64),)

In [7]:
array1 > 4

array([False, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True])

In [8]:
np.where(array1 > 4)

(array([ 2,  3,  4,  5,  6,  7,  8,  9, 10], dtype=int64),)

In [9]:
filter = np.where(array1 > 4)
filter

(array([ 2,  3,  4,  5,  6,  7,  8,  9, 10], dtype=int64),)

In [10]:
array1[filter]

array([ 5,  7, 11, 13, 17, 19, 23, 29, 31])

## 12. í¥ë¶€ë¶€ëŒ€ì°Œê°œ ëª©í‘œ ì¼ ë§¤ì¶œ
### ì‹¤ìŠµê³¼ì œ
#### ì˜í›ˆì´ê°€ ì°½ì—…í•œ í¥ë¶€ë¶€ëŒ€ì°Œê°œ ì‹ ì£¼ì¿ ì ì€ ì´ì œ ì§ì¥ì¸ë“¤ì—ê²Œ ì†Œë¬¸ë‚œ ë§›ì§‘ì…ë‹ˆë‹¤. ê·¸ëŸ¬ë‚˜ ë§¤ì¼ê°™ì´ ì„±ê³µì ì¸ ê²ƒì€ ì•„ë‹™ë‹ˆë‹¤. ëª©í‘œ ì¼ ë§¤ì¶œì„ ë‹¬ì„±í•˜ì§€ ëª»í•˜ëŠ” ë‚ ë“¤ì´ ì•„ì§ ê½¤ ìˆê±°ë“ ìš”. ì˜í›ˆì´ê°€ ìƒê°í•˜ëŠ” ì„±ê³µì ì¸ í•˜ë£¨ ë§¤ì¶œì€ 20ë§Œ ì—”ì…ë‹ˆë‹¤.

#### ì„±ê³µì ì´ì§€ ì•Šì€ ë‚ ì˜ ë§¤ì¶œë§Œ ê³¨ë¼ì„œ ë³´ê³  ì‹¶ìŠµë‹ˆë‹¤. 20ë§Œ ì—” ì´í•˜ì˜ ë§¤ì¶œë§Œ ë‹´ê¸´ numpy arrayë¥¼ ì¶œë ¥í•´ì£¼ì„¸ìš”.
#### ë°˜ë³µë¬¸ì€ ì‚¬ìš©í•˜ë©´ ì•ˆ ë©ë‹ˆë‹¤!

#### ì •ë‹µ ì¶œë ¥ ì½”ë“œëŠ” print ì—†ì´ ì‘ì„±í•´ ì£¼ì„¸ìš”. (ì˜ˆì‹œ: bad_days_revenue)

In [1]:
import numpy as np

revenue_in_yen = [
    300000, 340000, 320000, 360000, 
    440000, 140000, 180000, 340000, 
    330000, 290000, 280000, 380000, 
    170000, 140000, 230000, 390000, 
    400000, 350000, 380000, 150000, 
    110000, 240000, 380000, 380000, 
    340000, 420000, 150000, 130000, 
    360000, 320000, 250000
]

# ì½”ë“œë¥¼ ì‘ì„±í•˜ì„¸ìš”.
revenue_in_yen = np.array(revenue_in_yen)
filter = np.where(revenue_in_yen <= 200000)
bad_days_revenue=revenue_in_yen[filter]

# ì •ë‹µ ì¶œë ¥
bad_days_revenue

array([140000, 180000, 170000, 140000, 150000, 110000, 150000, 130000])

## 13. numpy array vs. python list

#### list : ê°’ì„ ì¶”ê°€í•˜ê³  ì œê±°
#### numpy : ìˆ˜ì¹˜ ê³„ì‚°ì´ ë§ê³  ë³µì¡í•  ë•Œ

In [1]:
import numpy as np

In [2]:
array = np.array([1,2,3,4])
l = [1,2,3,4]

In [3]:
type(array)

numpy.ndarray

In [4]:
type(l)

list

In [5]:
array * 2

array([2, 4, 6, 8])

In [6]:
l * 2

[1, 2, 3, 4, 1, 2, 3, 4]

In [7]:
array + 2

array([3, 4, 5, 6])

In [8]:
l + 2
#ì˜¤ë¥˜ ë°œìƒ

TypeError: can only concatenate list (not "int") to list

## 14. numpy ê¸°ë³¸ í†µê³„

### 1) ìµœëŒ“ê°’, ìµœì†Œê°’ : max(),min()

In [1]:
import numpy as np

array1 = np.array([14, 6, 13, 21, 23, 31, 9, 5])

print(array1.max()) # ìµœëŒ“ê°’
print(array1.min()) # ìµœì†Ÿê°’

31
5

In [2]:
import numpy as np

array1 = np.array([14, 6, 13, 21, 23, 31, 9, 5])

print(array1.mean()) # í‰ê· ê°’

15.25

### 2) ì¤‘ì•™ê°’ : np.median
#### median ë©”ì†Œë“œë¥¼ ì‚¬ìš©í•˜ë©´ ì¤‘ê°„ê°’ì„ êµ¬í•  ìˆ˜ ìˆëŠ”ë°ìš”. íŠ¹ì´í•˜ê²Œ medianì€ numpy arrayì˜ ë©”ì†Œë“œê°€ ì•„ë‹ˆë¼ numpyì˜ ë©”ì†Œë“œì…ë‹ˆë‹¤.

In [3]:
import numpy as np

array1 = np.array([8, 12, 9, 15, 16])
array2 = np.array([14, 6, 13, 21, 23, 31, 9, 5])

print(np.median(array1)) # ì¤‘ì•™ê°’
print(np.median(array2)) # ì¤‘ì•™ê°’

12.0
13.5

### 3) í‘œì¤€ í¸ì°¨, ë¶„ì‚° : std()

In [4]:
import numpy as np

array1 = np.array([14, 6, 13, 21, 23, 31, 9, 5])

print(array1.std()) # í‘œì¤€ í¸ì°¨
print(array1.var()) # ë¶„ì‚°

8.496322733983215
72.1875

## 4ï¸âƒ£ Pandas

## 01. pandasë€?

#### Pythonìœ¼ë¡œ ë°ì´í„° ë¶„ì„ì„ í•˜ê¸° ìœ„í•´ ë°ì´í„° í”„ë ˆì„ì„ ë‹¤ë£° ìˆ˜ ìˆëŠ” ë°©ë²•
#### numpyì˜ ê¸°ëŠ¥ì´ í¬í•¨ëœë‹¤.

## 02. DataFrame ì†Œê°œ

## 03. DataFrame ì‚¬ìš©í•´ë³´ê¸°

In [1]:
import pandas as pd

In [2]:
two_dimensional_list = [['dongwook',50,86],["sineui",89,31],['ikjoong',68,91],['yoonsoo',88,75]]
my_df = pd.DataFrame(two_dimensional_list)
my_df

          0   1   2
0  dongwook  50  86
1    sineui  89  31
2   ikjoong  68  91
3   yoonsoo  88  75

In [3]:
type(my_df)

pandas.core.frame.DataFrame

In [4]:
my_df = pd.DataFrame(two_dimensional_list, columns=['name','english_score','math_score'],index=["a","b","c","d"])
my_df

       name  english_score  math_score
a  dongwook             50          86
b    sineui             89          31
c   ikjoong             68          91
d   yoonsoo             88          75

In [5]:
my_df.columns

Index(['name', 'english_score', 'math_score'], dtype='object')

In [6]:
my_df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [7]:
my_df.dtypes

name             object
english_score     int64
math_score        int64
dtype: object

## 04. DataFrameì„ ë§Œë“œëŠ” ë‹¤ì–‘í•œ ë°©ë²•

### 1) From list of lists, array of arrays, list of series

In [1]:
import numpy as np
import pandas as pd

two_dimensional_list = [['dongwook', 50, 86], ['sineui', 89, 31], ['ikjoong', 68, 91], ['yoonsoo', 88, 75]]
two_dimensional_array = np.array(two_dimensional_list)
list_of_series = [
    pd.Series(['dongwook', 50, 86]), 
    pd.Series(['sineui', 89, 31]), 
    pd.Series(['ikjoong', 68, 91]), 
    pd.Series(['yoonsoo', 88, 75])
]

# ì•„ë˜ ì…‹ì€ ëª¨ë‘ ë™ì¼í•©ë‹ˆë‹¤
df1 = pd.DataFrame(two_dimensional_list)
df2 = pd.DataFrame(two_dimensional_array)
df3 = pd.DataFrame(list_of_series)

df1

          0   1   2
0  dongwook  50  86
1    sineui  89  31
2   ikjoong  68  91
3   yoonsoo  88  75

### 2) From dict of lists, dict of arrays, dict of series

#### íŒŒì´ì¬ ì‚¬ì „(dictionary)ìœ¼ë¡œë„ DataFrameì„ ë§Œë“¤ ìˆ˜ ìˆìŠµë‹ˆë‹¤.
#### ì‚¬ì „ì˜ keyë¡œëŠ” column ì´ë¦„ì„ ì“°ê³ , ê·¸ columnì— í•´ë‹¹í•˜ëŠ” ë¦¬ìŠ¤íŠ¸, numpy array, í˜¹ì€ pandas Seriesë¥¼ ì‚¬ì „ì˜ valueë¡œ ë„£ì–´ì£¼ë©´ ë©ë‹ˆë‹¤.

In [2]:
import numpy as np
import pandas as pd

names = ['dongwook', 'sineui', 'ikjoong', 'yoonsoo']
english_scores = [50, 89, 68, 88]
math_scores = [86, 31, 91, 75]

dict1 = {
    'name': names, 
    'english_score': english_scores, 
    'math_score': math_scores
}

dict2 = {
    'name': np.array(names), 
    'english_score': np.array(english_scores), 
    'math_score': np.array(math_scores)
}

dict3 = {
    'name': pd.Series(names), 
    'english_score': pd.Series(english_scores), 
    'math_score': pd.Series(math_scores)
}


# ì•„ë˜ ì…‹ì€ ëª¨ë‘ ë™ì¼í•©ë‹ˆë‹¤
df1 = pd.DataFrame(dict1)
df2 = pd.DataFrame(dict2)
df3 = pd.DataFrame(dict3)

df1

       name  english_score  math_score
0  dongwook             50          86
1    sineui             89          31
2   ikjoong             68          91
3   yoonsoo             88          75

### 3) From list of dicts

#### ë¦¬ìŠ¤íŠ¸ê°€ ë‹´ê¸´ ì‚¬ì „ì´ ì•„ë‹ˆë¼, ì‚¬ì „ì´ ë‹´ê¸´ ë¦¬ìŠ¤íŠ¸ë¡œë„ DataFrameì„ ë§Œë“¤ ìˆ˜ ìˆìŠµë‹ˆë‹¤.

In [3]:
import numpy as np
import pandas as pd

my_list = [
    {'name': 'dongwook', 'english_score': 50, 'math_score': 86},
    {'name': 'sineui', 'english_score': 89, 'math_score': 31},
    {'name': 'ikjoong', 'english_score': 68, 'math_score': 91},
    {'name': 'yoonsoo', 'english_score': 88, 'math_score': 75}
]

df = pd.DataFrame(my_list)
df

       name  english_score  math_score
0  dongwook             50          86
1    sineui             89          31
2   ikjoong             68          91
3   yoonsoo             88          75

## 05. ìŠ¤íƒ€ë“¤ì˜ ìƒì¼ì€ ì–¸ì œ?

### ì‹¤ìŠµê³¼ì œ

#### ë°ì´í„° í”„ë ˆì„ ë§Œë“¤ê¸°

In [1]:
import pandas as pd

df = pd.DataFrame({'name' : ["Taylor Swift","Aaron Sorkin","Harry Potter","Ji-Sung Park"],
                  "birthday" : ['December 13, 1989','June 9, 1961','July 31, 1980','February 25, 1981'],
                  "occupation" : ["Singer-songwriter","Screenwriter","Wizard","Footballer"]})
df

           name           birthday         occupation
0  Taylor Swift  December 13, 1989  Singer-songwriter
1  Aaron Sorkin       June 9, 1961       Screenwriter
2  Harry Potter      July 31, 1980             Wizard
3  Ji-Sung Park  February 25, 1981         Footballer

## 06. pandasì˜ ë°ì´í„° íƒ€ì…

#### pandas DataFrameì—ëŠ” ë‹¤ì–‘í•œ ì¢…ë¥˜ì˜ ë°ì´í„°ë¥¼ ë‹´ì„ ìˆ˜ ìˆìŠµë‹ˆë‹¤. dtypesë¥¼ ì‚¬ìš©í•´ì„œ ê° columnì´ ì–´ë–¤ ë°ì´í„° íƒ€ì…ì„ ë³´ê´€í•˜ëŠ”ì§€ í™•ì¸í•  ìˆ˜ ìˆëŠ”ë°ìš”.

In [1]:
import pandas as pd

two_dimensional_list = [['dongwook', 50, 86], ['sineui', 89, 31], ['ikjoong', 68, 91], ['yoonsoo', 88, 75]]

my_df = pd.DataFrame(two_dimensional_list, columns=['name', 'english_score', 'math_score'], index=['a', 'b', 'c', 'd'])

print(my_df.dtypes)

name             object
english_score     int64
math_score        int64
dtype: object

### pandasì˜ dtypeë“¤

In [2]:
pd.DataFrame({"dtpe":["int64","float64","object","bool","datetime64","category"],
             "ì„¤ëª…": ["ì •ìˆ˜","ì†Œìˆ˜","í…ìŠ¤íŠ¸","ë¶ˆë¦°(ì°¸ê³¼ ê±°ì§“)","ë‚ ì§œì™€ ì‹œê°„","ì¹´í…Œê³ ë¦¬"]})

         dtpe         ì„¤ëª…
0       int64         ì •ìˆ˜
1     float64         ì†Œìˆ˜
2      object        í…ìŠ¤íŠ¸
3        bool  ë¶ˆë¦°(ì°¸ê³¼ ê±°ì§“)
4  datetime64     ë‚ ì§œì™€ ì‹œê°„
5    category       ì¹´í…Œê³ ë¦¬

## 07. pandasë¡œ ë°ì´í„° ì½ì–´ë“¤ì´ê¸°

In [1]:
import pandas as pd

In [2]:
iphone_df = pd.read_csv("data/iphone.csv", encoding= 'utf-8', index_col=0)
#ì¸ë±ìŠ¤ ì´ë¦„ ì§€ì • : index_col=0
iphone_df

                      ì¶œì‹œì¼  ë””ìŠ¤í”Œë ˆì´  ë©”ëª¨ë¦¬     ì¶œì‹œ ë²„ì „ Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

## 08. ê°€ì¥ ì¸ê¸° ìˆëŠ” ì•„ê¸° ì´ë¦„ì€?

### ì‹¤ìŠµê³¼ì œ

#### ì•„ê¸°ì˜ ì„±ë³„ê³¼ ì–´ë¨¸ë‹ˆì˜ ì¸ì¢…ì— ë”°ë¥¸, ë‰´ìš•ì—ì„œ ê°€ì¥ ì¸ê¸° ìˆëŠ” ì•„ê¸° ì´ë¦„ì´ ë¬´ì—‡ì¸ì§€ ì¡°ì‚¬ë¥¼ í•´ ë´¤ìŠµë‹ˆë‹¤.

#### ì¡°ì‚¬ ê²°ê³¼ê°€ data í´ë”ì˜ popular_baby_names.csvë¼ëŠ” íŒŒì¼ì— ë‹´ê²¨ ìˆëŠ”ë°ìš”. ì•ˆì— ìˆëŠ” ì •ë³´ë¥¼ DataFrameìœ¼ë¡œ ì½ì–´ ë“¤ì´ê³ , DataFrameì„ ì¶œë ¥í•´ ì£¼ì„¸ìš”.

In [1]:
import pandas as pd

# ì½”ë“œë¥¼ ì‘ì„±í•˜ì„¸ìš”.
df = pd.read_csv('data/popular_baby_names.csv')
# ì •ë‹µ ì¶œë ¥
df

,Year of Birth,Gender,Ethnicity,Child's First Name,Count,Rank
0,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Olivia,172,1
1,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Chloe,112,2
2,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Sophia,104,3
3,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Emily,99,4
4,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Emma,99,4
...,...,...,...,...,...,...
11340,2011,MALE,WHITE NON HISPANIC,LEV,10,97
11341,2011,MALE,WHITE NON HISPANIC,AUGUSTUS,10,97
11342,2011,MALE,WHITE NON HISPANIC,SHAUL,10,97
11343,2011,MALE,WHITE NON HISPANIC,WESLEY,10,97
11344,2011,MALE,WHITE NON HISPANIC,KENNETH,10,97

## 09. ë©”ê°€ë°€ë¦¬ì–¸ ë¡œë˜ ë‹¹ì²¨ ë²ˆí˜¸
#### ë©”ê°€ë°€ë¦¬ì–¸ ì¸¡ì—ì„œ 2002ë…„ë¶€í„° í˜„ì¬(2/15/19)ê¹Œì§€ì˜ ë‹¹ì²¨ ë²ˆí˜¸ê°€ ë‹´ê¸´ mega_millions.csv íŒŒì¼ì„ ê³µê°œí–ˆëŠ”ë°ìš”. ì´ ë°ì´í„°ë¥¼ DataFrameì— ë„£ì–´ ë´…ì‹œë‹¤.

#### ë‚ ì§œ(Draw Date)ê°€ ì´ DataFrameì˜ ì¸ë±ìŠ¤ê°€ ë˜ë„ë¡ í•´ ì£¼ì„¸ìš”!

In [1]:
import pandas as pd

# ì½”ë“œë¥¼ ì‘ì„±í•˜ì„¸ìš”.
df = pd.read_csv('data/mega_millions.csv',index_col = 0)
# ì •ë‹µ ì¶œë ¥
df

           Winning Numbers  Mega Ball  Multiplier
Draw Date
02/15/2019  10 38 40 43 65         12         2.0
02/12/2019  15 32 39 50 65          7         3.0
02/08/2019  14 24 31 42 48         13         3.0
02/05/2019  03 34 36 59 66          7         2.0
02/01/2019  02 37 48 66 68         11         5.0
...                    ...        ...         ...
05/31/2002  12 28 45 46 52         47         NaN
05/28/2002  06 21 22 29 32         24         NaN
05/24/2002  02 04 32 44 52         36         NaN
05/21/2002  04 28 39 41 44          9         NaN
05/17/2002  15 18 25 33 47         30         NaN

[1746 rows x 3 columns]

# ğŸ“Œ DataFrame ë‹¤ë£¨ê¸°

## 1ï¸âƒ£ DataFrame ì¸ë±ì‹±

## 01. DataFrame ì¸ë±ì‹± I

In [1]:
import pandas as pd

In [2]:
iphone_df = pd.read_csv("data/iphone.csv", encoding= 'utf-8', index_col=0)
iphone_df

                      ì¶œì‹œì¼  ë””ìŠ¤í”Œë ˆì´  ë©”ëª¨ë¦¬     ì¶œì‹œ ë²„ì „ Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [3]:
# df.loc['í–‰ì´ë¦„','ì—´ì´ë¦„']
iphone_df.loc["iPhone 8",'ë©”ëª¨ë¦¬']

'2GB'

In [4]:
# df.loc['í–‰ì´ë¦„',:] = í–‰ ì „ì²´
iphone_df.loc["iPhone X", :]

ì¶œì‹œì¼        2017-11-03
ë””ìŠ¤í”Œë ˆì´             5.8
ë©”ëª¨ë¦¬               3GB
ì¶œì‹œ ë²„ì „        iOS 11.1
Face ID           Yes
Name: iPhone X, dtype: object

In [5]:
# df.loc['í–‰ì´ë¦„',:] = df.loc['í–‰ì´ë¦„] = í–‰ ì „ì²´
iphone_df.loc["iPhone X", :]
iphone_df.loc["iPhone X"]

ì¶œì‹œì¼        2017-11-03
ë””ìŠ¤í”Œë ˆì´             5.8
ë©”ëª¨ë¦¬               3GB
ì¶œì‹œ ë²„ì „        iOS 11.1
Face ID           Yes
Name: iPhone X, dtype: object

In [6]:
type(iphone_df.loc["iPhone X", :])

pandas.core.series.Series

In [7]:
# df.loc[:,"ì—´ì´ë¦„"] = ì—´ ì „ì²´
iphone_df.loc[:,"ì¶œì‹œì¼"]

iPhone 7         2016-09-16
iPhone 7 Plus    2016-09-16
iPhone 8         2017-09-22
iPhone 8 Plus    2017-09-22
iPhone X         2017-11-03
iPhone XS        2018-09-21
iPhone XS Max    2018-09-21
Name: ì¶œì‹œì¼, dtype: object

In [8]:
# df.loc[:,"ì—´ì´ë¦„"] = df["ì—´ì´ë¦„"] = ì—´ ì „ì²´
iphone_df["ì¶œì‹œì¼"]

iPhone 7         2016-09-16
iPhone 7 Plus    2016-09-16
iPhone 8         2017-09-22
iPhone 8 Plus    2017-09-22
iPhone X         2017-11-03
iPhone XS        2018-09-21
iPhone XS Max    2018-09-21
Name: ì¶œì‹œì¼, dtype: object

In [ ]:
# df.loc["ì—´ì´ë¦„"] = ì—´ì´ë¦„ê³¼ í–‰ì´ë¦„ì´ ê°™ì§€ ì•Šê¸°ì— ì˜¤ë¥˜ê°€ ë‚¨
# ë§Œì•½ 'ì—´ì´ë¦„' = 'í–‰ì´ë¦„'ì¸ ë°ì´í„°í”„ë ˆì„ì´ë¼ë©´, í–‰ì „ì²´ê°€ 
# ì´ ì½”ë“œëŠ” ì˜¤ë¥˜ë‚¨
iphone_df.loc["ì¶œì‹œì¼"]

## 02. ë°©ì†¡ì‚¬ ì‹œì²­ë¥  ë°›ì•„ì˜¤ê¸° I

### ì‹¤ìŠµê³¼ì œ

#### 2016ë…„ë„ì— KBSë°©ì†¡êµ­ì˜ ì‹œì²­ë¥ ì„ ì°¾ì•„ë´…ì‹œë‹¤.
#### ì •ë‹µ ì¶œë ¥ ì½”ë“œëŠ” print ì—†ì´ ì‘ì„±í•´ ì£¼ì„¸ìš”. (ì˜ˆì‹œ: df)

In [1]:
import pandas as pd

df = pd.read_csv('data/broadcast.csv', index_col=0)

df

         KBS     MBC     SBS  TV CHOSUN   JTBC  Channel A    MBN
2011  35.951  18.374  11.173      9.102  7.380      3.771  2.809
2012  36.163  16.022  11.408      8.785  7.878      5.874  3.310
2013  31.989  16.778   9.673      9.026  7.810      5.350  3.825
2014  31.210  15.663   9.108      9.440  7.490      5.776  4.572
2015  27.777  16.573   9.099      9.940  7.267      6.678  5.520
2016  27.583  14.982   8.669      9.829  7.727      6.624  5.477
2017  26.890  12.465   8.661      8.886  9.453      6.056  5.215

In [2]:
df.loc[2016,'KBS']

27.583

## 03. ë°©ì†¡ì‚¬ ì‹œì²­ë¥  ë°›ì•„ì˜¤ê¸° II

### ì‹¤ìŠµê³¼ì œ

#### JTBCì˜ ì‹œì²­ë¥ ì„ í™•ì¸í•˜ë ¤ë©´ ì–´ë–»ê²Œ í•´ì•¼ í• ê¹Œìš”?

In [1]:
import pandas as pd

df = pd.read_csv('data/broadcast.csv', index_col=0)

df

         KBS     MBC     SBS  TV CHOSUN   JTBC  Channel A    MBN
2011  35.951  18.374  11.173      9.102  7.380      3.771  2.809
2012  36.163  16.022  11.408      8.785  7.878      5.874  3.310
2013  31.989  16.778   9.673      9.026  7.810      5.350  3.825
2014  31.210  15.663   9.108      9.440  7.490      5.776  4.572
2015  27.777  16.573   9.099      9.940  7.267      6.678  5.520
2016  27.583  14.982   8.669      9.829  7.727      6.624  5.477
2017  26.890  12.465   8.661      8.886  9.453      6.056  5.215

In [2]:
df['JTBC']

2011    7.380
2012    7.878
2013    7.810
2014    7.490
2015    7.267
2016    7.727
2017    9.453
Name: JTBC, dtype: float64

## 04. ë°©ì†¡ì‚¬ ì‹œì²­ë¥  ë°›ì•„ì˜¤ê¸° III

### ì‹¤ìŠµê³¼ì œ

#### ì´ë²ˆì—ëŠ” DataFrameì—ì„œ ì—¬ëŸ¬ ì¤„ì„ ì°¾ëŠ” ì—°ìŠµì„ í•´ë³´ê² ìŠµë‹ˆë‹¤. SBSì™€ JTBCì˜ ì‹œì²­ë¥ ë§Œ í™•ì¸í•˜ë ¤ë©´ ì–´ë–»ê²Œ í•˜ë©´ ë ê¹Œìš”?

In [1]:
import pandas as pd

df = pd.read_csv('data/broadcast.csv', index_col=0)

df

         KBS     MBC     SBS  TV CHOSUN   JTBC  Channel A    MBN
2011  35.951  18.374  11.173      9.102  7.380      3.771  2.809
2012  36.163  16.022  11.408      8.785  7.878      5.874  3.310
2013  31.989  16.778   9.673      9.026  7.810      5.350  3.825
2014  31.210  15.663   9.108      9.440  7.490      5.776  4.572
2015  27.777  16.573   9.099      9.940  7.267      6.678  5.520
2016  27.583  14.982   8.669      9.829  7.727      6.624  5.477
2017  26.890  12.465   8.661      8.886  9.453      6.056  5.215

In [2]:
df[["SBS",'JTBC']]

         SBS   JTBC
2011  11.173  7.380
2012  11.408  7.878
2013   9.673  7.810
2014   9.108  7.490
2015   9.099  7.267
2016   8.669  7.727
2017   8.661  9.453

## 05. ì¹´ë“œì‚¬ ê³ ê° ë¶„ì„

### ì‹¤ìŠµê³¼ì œ

ë°ì´í„°ì˜ ì¤‘ìš”ì„±ì„ ê¹¨ë‹¬ì€ â€œì‚¼ì†¡ì¹´ë“œâ€ì™€ â€œí˜„ë””ì¹´ë“œâ€ê°€ í˜‘ì—…ì„ í•˜ê¸°ë¡œ ê²°ì •í–ˆìŠµë‹ˆë‹¤.

ë‘ ì¹´ë“œì‚¬ëŠ” ì‚¬ëŒë“¤ì´ ìš”ì¼ë³„ë¡œ ì§€ì¶œí•˜ëŠ” í‰ê·  ê¸ˆì•¡ì„ â€œìš”ì¼â€, â€œì‹ë¹„", â€œêµí†µë¹„â€, â€œë¬¸í™”ìƒí™œë¹„â€, â€œê¸°íƒ€â€ ì¹´í…Œê³ ë¦¬ë¡œ ì •ë¦¬í•´ì„œ ìš°ë¦¬ì—ê²Œ ê³µìœ í•´ ì£¼ê¸°ë¡œ í–ˆëŠ”ë°ìš”. ê°ê° samsong.csv íŒŒì¼ê³¼ hyundee.csv íŒŒì¼ì„ ë³´ëƒˆìŠµë‹ˆë‹¤.

#### ë‘ íšŒì‚¬ì˜ ë°ì´í„°ë¥¼ í™œìš©í•´ì„œ, ì‚¬ëŒë“¤ì˜ ìš”ì¼ë³„ ë¬¸í™”ìƒí™œë¹„ë¥¼ ë¶„ì„í•´ë³´ë ¤ í•©ë‹ˆë‹¤. DataFrameì„ ë§Œë“¤ì–´ë³´ì„¸ìš”.

In [1]:
import pandas as pd

samsong_df = pd.read_csv("data/samsong.csv")
hyundee_df = pd.read_csv("data/hyundee.csv")

samsong_df

    ìš”ì¼     ì‹ë¹„   êµí†µë¹„  ë¬¸í™”ìƒí™œë¹„    ê¸°íƒ€
0  MON  19420  2560   4308  3541
1  TUE  16970  2499   7644  2903
2  WED  15091  2511   5674  2015
3  THU  17880  2545   8621  3012
4  FRI  27104  2993  23052  2508
5  SAT  29055  2803  15330  4901
6  SUN  23509  1760  19030  4230

In [2]:
hyundee_df

    ìš”ì¼     ì‹ë¹„   êµí†µë¹„  ë¬¸í™”ìƒí™œë¹„    ê¸°íƒ€
0  MON  22420  2574   5339  5546
1  TUE  19940  2689   3524  2501
2  WED  18086  2281   5364  2234
3  THU  18863  2155   9942  3252
4  FRI  35144  2463  33511  2342
5  SAT  34952  2812  19397  4324
6  SUN  28513  2680  19925  4577

In [3]:
df = pd.DataFrame({"day":hyundee_df['ìš”ì¼'],
             'samsong' :samsong_df['ë¬¸í™”ìƒí™œë¹„'],
             'hyundee' :hyundee_df['ë¬¸í™”ìƒí™œë¹„']})
df

   day  samsong  hyundee
0  MON     4308     5339
1  TUE     7644     3524
2  WED     5674     5364
3  THU     8621     9942
4  FRI    23052    33511
5  SAT    15330    19397
6  SUN    19030    19925

## 06. DataFrame ì¸ë±ì‹± II

In [1]:
import pandas as pd

In [2]:
iphone_df = pd.read_csv("data/iphone.csv", encoding= 'utf-8', index_col=0)
#ì¸ë±ìŠ¤ ì´ë¦„ ì§€ì • : index_col=0
iphone_df

                      ì¶œì‹œì¼  ë””ìŠ¤í”Œë ˆì´  ë©”ëª¨ë¦¬     ì¶œì‹œ ë²„ì „ Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [3]:
iphone_df.loc[['iPhone X', 'iPhone 8']]

                 ì¶œì‹œì¼  ë””ìŠ¤í”Œë ˆì´  ë©”ëª¨ë¦¬     ì¶œì‹œ ë²„ì „ Face ID
iPhone X  2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone 8  2017-09-22    4.7  2GB  iOS 11.0      No

In [4]:
type(iphone_df.loc[['iPhone X', 'iPhone 8']])

pandas.core.frame.DataFrame

In [5]:
iphone_df[["Face ID",'ì¶œì‹œì¼','ë©”ëª¨ë¦¬']]

              Face ID         ì¶œì‹œì¼  ë©”ëª¨ë¦¬
iPhone 7           No  2016-09-16  2GB
iPhone 7 Plus      No  2016-09-16  3GB
iPhone 8           No  2017-09-22  2GB
iPhone 8 Plus      No  2017-09-22  3GB
iPhone X          Yes  2017-11-03  3GB
iPhone XS         Yes  2018-09-21  4GB
iPhone XS Max     Yes  2018-09-21  4GB

In [7]:
# í–‰ ìŠ¬ë¼ì´ì‹± ê°€ëŠ¥
iphone_df.loc['iPhone 8' : 'iPhone XS']

                      ì¶œì‹œì¼  ë””ìŠ¤í”Œë ˆì´  ë©”ëª¨ë¦¬     ì¶œì‹œ ë²„ì „ Face ID
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes

In [8]:
# ì—´ ìŠ¬ë¼ì´ì‹± df.loc[:,'ì—´ ì‹œì‘ì´ë¦„':'ì—´ ë§ˆì§€ë§‰ ì´ë¦„']
# ê¸°ë³¸ ì›ë¦¬ê°€ df.loc['í–‰ì´ë¦„','ì—´ì´ë¦„'] ì´ê¸° ë•Œë¬¸
iphone_df.loc[:,'ë©”ëª¨ë¦¬':"Face ID"]

               ë©”ëª¨ë¦¬     ì¶œì‹œ ë²„ì „ Face ID
iPhone 7       2GB  iOS 10.0      No
iPhone 7 Plus  3GB  iOS 10.0      No
iPhone 8       2GB  iOS 11.0      No
iPhone 8 Plus  3GB  iOS 11.0      No
iPhone X       3GB  iOS 11.1     Yes
iPhone XS      4GB  iOS 12.0     Yes
iPhone XS Max  4GB  iOS 12.0     Yes

## 07. ë°©ì†¡ì‚¬ ì‹œì²­ë¥  ë°›ì•„ì˜¤ê¸° IV

### ì‹¤ìŠµê³¼ì œ

#### ë°©ì†¡ì‚¬ëŠ” 'KBS'ì—ì„œ 'SBS'ê¹Œì§€, ì—°ë„ëŠ” 2012ë…„ë¶€í„° 2017ë…„ê¹Œì§€ì˜ ì‹œì²­ë¥ ë§Œ í™•ì¸í•˜ë ¤ë©´ ì–´ë–»ê²Œ í•˜ë©´ ë ê¹Œìš”?

In [1]:
import pandas as pd

df = pd.read_csv('data/broadcast.csv', index_col=0)
df.loc[2012:2017,'KBS' : 'SBS']

         KBS     MBC     SBS
2012  36.163  16.022  11.408
2013  31.989  16.778   9.673
2014  31.210  15.663   9.108
2015  27.777  16.573   9.099
2016  27.583  14.982   8.669
2017  26.890  12.465   8.661

## 08. DataFrame ì¡°ê±´ìœ¼ë¡œ ì¸ë±ì‹±

In [1]:
import pandas as pd

In [2]:
iphone_df = pd.read_csv('data/iphone.csv',index_col = 0)
iphone_df

                      ì¶œì‹œì¼  ë””ìŠ¤í”Œë ˆì´  ë©”ëª¨ë¦¬     ì¶œì‹œ ë²„ì „ Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [3]:
iphone_df.loc[[True, False, True, True, False, True, False]]

                      ì¶œì‹œì¼  ë””ìŠ¤í”Œë ˆì´  ë©”ëª¨ë¦¬     ì¶œì‹œ ë²„ì „ Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes

In [4]:
iphone_df.loc[:, [True, True, False, False, True]]

                      ì¶œì‹œì¼  ë””ìŠ¤í”Œë ˆì´ Face ID
iPhone 7       2016-09-16    4.7      No
iPhone 7 Plus  2016-09-16    5.5      No
iPhone 8       2017-09-22    4.7      No
iPhone 8 Plus  2017-09-22    5.5      No
iPhone X       2017-11-03    5.8     Yes
iPhone XS      2018-09-21    5.8     Yes
iPhone XS Max  2018-09-21    6.5     Yes

In [5]:
iphone_df['ë””ìŠ¤í”Œë ˆì´'] > 5

iPhone 7         False
iPhone 7 Plus     True
iPhone 8         False
iPhone 8 Plus     True
iPhone X          True
iPhone XS         True
iPhone XS Max     True
Name: ë””ìŠ¤í”Œë ˆì´, dtype: bool

In [6]:
# ì¡°ê±´ì„ ë§Œì¡±í•˜ëŠ” DataFrameì„ ì¶œë ¥í•  ë•Œ
# df.loc[] ë˜ëŠ” df[]ì˜ ê´„í˜¸ ë‚´ë¶€ì— ì¡°ê±´ì„ ì“°ë©´ ì‰½ë‹¤.
iphone_df.loc[iphone_df['ë””ìŠ¤í”Œë ˆì´'] > 5]

                      ì¶œì‹œì¼  ë””ìŠ¤í”Œë ˆì´  ë©”ëª¨ë¦¬     ì¶œì‹œ ë²„ì „ Face ID
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [7]:
iphone_df['Face ID'] == 'Yes'

iPhone 7         False
iPhone 7 Plus    False
iPhone 8         False
iPhone 8 Plus    False
iPhone X          True
iPhone XS         True
iPhone XS Max     True
Name: Face ID, dtype: bool

In [8]:
iphone_df.loc[iphone_df['Face ID'] == 'Yes']

                      ì¶œì‹œì¼  ë””ìŠ¤í”Œë ˆì´  ë©”ëª¨ë¦¬     ì¶œì‹œ ë²„ì „ Face ID
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [9]:
# ì¡°ê±´ì´ ë§ì„ ë•ŒëŠ” ê°ê° ()ë¡œ ë¬¶ì–´ì£¼ê¸°
(iphone_df['ë””ìŠ¤í”Œë ˆì´'] > 5) & (iphone_df['Face ID'] == 'Yes')

iPhone 7         False
iPhone 7 Plus    False
iPhone 8         False
iPhone 8 Plus    False
iPhone X          True
iPhone XS         True
iPhone XS Max     True
dtype: bool

In [10]:
iphone_df[(iphone_df['ë””ìŠ¤í”Œë ˆì´'] > 5) & (iphone_df['Face ID'] == 'Yes')]

                      ì¶œì‹œì¼  ë””ìŠ¤í”Œë ˆì´  ë©”ëª¨ë¦¬     ì¶œì‹œ ë²„ì „ Face ID
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [11]:
iphone_df[(iphone_df['ë””ìŠ¤í”Œë ˆì´'] > 5) | (iphone_df['Face ID'] == 'Yes')]

                      ì¶œì‹œì¼  ë””ìŠ¤í”Œë ˆì´  ë©”ëª¨ë¦¬     ì¶œì‹œ ë²„ì „ Face ID
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

## 09. ë°©ì†¡ì‚¬ ì‹œì²­ë¥  ë°›ì•„ì˜¤ê¸° V

### ì‹¤ìŠµê³¼ì œ

#### 'KBS'ì—ì„œ ì‹œì²­ë¥ ì´ 30ì´ ë„˜ì€ ë°ì´í„°ë§Œ í™•ì¸í•´ë³´ë ¤ë©´ ì–´ë–»ê²Œ í•˜ë©´ ë ê¹Œìš”?

In [1]:
import pandas as pd

df = pd.read_csv('data/broadcast.csv', index_col=0)

#df[df['KBS'] > 30]["KBS"]
df.loc[df['KBS'] > 30, 'KBS']

2011    35.951
2012    36.163
2013    31.989
2014    31.210
Name: KBS, dtype: float64

## 10. ë°©ì†¡ì‚¬ ì‹œì²­ë¥  ë°›ì•„ì˜¤ê¸° VI

### ì‹¤ìŠµê³¼ì œ

#### ì£¼ì–´ì§„ ë°ì´í„°ì—ì„œ SBSê°€ TV CHOSUNë³´ë‹¤ ë” ì‹œì²­ë¥ ì´ ë‚®ì•˜ë˜ ì‹œê¸°ì˜ ë°ì´í„°ë¥¼ í™•ì¸í•´ë³´ë ¤ê³  í•©ë‹ˆë‹¤. ì–´ë–»ê²Œ í•˜ë©´ ë ê¹Œìš”?

In [1]:
import pandas as pd

df = pd.read_csv('data/broadcast.csv', index_col=0)

#df.loc[df['SBS']<df['TV CHOSUN'],'SBS':'TV CHOSUN']
df.loc[df['SBS']<df['TV CHOSUN'],['SBS','TV CHOSUN']]

        SBS  TV CHOSUN
2014  9.108      9.440
2015  9.099      9.940
2016  8.669      9.829
2017  8.661      8.886

## 11. DataFrame ìœ„ì¹˜ë¡œ ì¸ë±ì‹±í•˜ê¸°

In [1]:
import pandas as pd

In [2]:
iphone_df = pd.read_csv("data/iphone.csv", encoding= 'utf-8', index_col=0)
iphone_df

                      ì¶œì‹œì¼  ë””ìŠ¤í”Œë ˆì´  ë©”ëª¨ë¦¬     ì¶œì‹œ ë²„ì „ Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [3]:
iphone_df.iloc[2,4]

'No'

In [4]:
iphone_df.iloc[[1,3],[1,4]]

               ë””ìŠ¤í”Œë ˆì´ Face ID
iPhone 7 Plus    5.5      No
iPhone 8 Plus    5.5      No

In [5]:
iphone_df.iloc[3:,1:4]

               ë””ìŠ¤í”Œë ˆì´  ë©”ëª¨ë¦¬     ì¶œì‹œ ë²„ì „
iPhone 8 Plus    5.5  3GB  iOS 11.0
iPhone X         5.8  3GB  iOS 11.1
iPhone XS        5.8  4GB  iOS 12.0
iPhone XS Max    6.5  4GB  iOS 12.0

## 12. DataFrame ì¸ë±ì‹± ë¬¸ë²• ì •ë¦¬

In [9]:
pd.DataFrame({"ì´ë¦„ìœ¼ë¡œ ì¸ë±ì‹± í•˜ê¸°" : ["í•˜ë‚˜ì˜ Row row ì´ë¦„","row ì´ë¦„ì˜ ë¦¬ìŠ¤íŠ¸","row ì´ë¦„ì˜ ë¦¬ìŠ¤íŠ¸ ìŠ¬ë¼ì´ì‹±","í•˜ë‚˜ì˜ columnì´ë¦„"," columnì´ë¦„ì˜ ë¦¬ìŠ¤íŠ¸","column ì´ë¦„ì˜ ë¦¬ìŠ¤íŠ¸ ìŠ¬ë¼ì´ì‹±"],
             "ê¸°ë³¸ í˜•íƒœ":['df.loc["row4"]','df.loc[["row4","row5"]]','df.loc["row2":"row5"]','df.loc[:, "col1"]','df.loc[:, ["col4", "col6", "col3"]]','df.loc[:, "col2":"col5"'],
                      "ë‹¨ì¶• í˜•íƒœ" :["","",'df["row2":"row5"]','df["col1"]','df[["col4", "col6", "col3"]]',""]})

,ì´ë¦„ìœ¼ë¡œ ì¸ë±ì‹± í•˜ê¸°,ê¸°ë³¸ í˜•íƒœ,ë‹¨ì¶• í˜•íƒœ
0,í•˜ë‚˜ì˜ Row row ì´ë¦„,"df.loc[""row4""]",
1,row ì´ë¦„ì˜ ë¦¬ìŠ¤íŠ¸,"df.loc[[""row4"",""row5""]]",
2,row ì´ë¦„ì˜ ë¦¬ìŠ¤íŠ¸ ìŠ¬ë¼ì´ì‹±,"df.loc[""row2"":""row5""]","df[""row2"":""row5""]"
3,í•˜ë‚˜ì˜ columnì´ë¦„,"df.loc[:, ""col1""]","df[""col1""]"
4,columnì´ë¦„ì˜ ë¦¬ìŠ¤íŠ¸,"df.loc[:, [""col4"", ""col6"", ""col3""]]","df[[""col4"", ""col6"", ""col3""]]"
5,column ì´ë¦„ì˜ ë¦¬ìŠ¤íŠ¸ ìŠ¬ë¼ì´ì‹±,"df.loc[:, ""col2"":""col5""",

In [10]:
pd.DataFrame({"ìœ„ì¹˜ë¡œ ì¸ë±ì‹±í•˜ê¸°":["í•˜ë‚˜ì˜ row ìœ„ì¹˜","row ìœ„ì¹˜ì˜ ë¦¬ìŠ¤íŠ¸","row ìœ„ì¹˜ì˜ ë¦¬ìŠ¤íŠ¸ ìŠ¬ë¼ì´ì‹±","í•˜ë‚˜ì˜ column ìœ„ì¹˜","column ìœ„ì¹˜ì˜ ë¦¬ìŠ¤íŠ¸","column ìœ„ì¹˜ì˜ ë¦¬ìŠ¤íŠ¸ ìŠ¬ë¼ì´ì‹±"],
             "ê¸°ë³¸ í˜•íƒœ":["df.iloc[8]","df.iloc[[4, 5, 3]]","df.iloc[2:5]","df.iloc[:, 3]","df.iloc[:, [3, 5, 6]]","df.iloc[:, 3:7]"],
             "ë‹¨ì¶• í˜•íƒœ":["","","df[2:5]","","",""]})

             ìœ„ì¹˜ë¡œ ì¸ë±ì‹±í•˜ê¸°                  ê¸°ë³¸ í˜•íƒœ    ë‹¨ì¶• í˜•íƒœ
0           í•˜ë‚˜ì˜ row ìœ„ì¹˜             df.iloc[8]
1          row ìœ„ì¹˜ì˜ ë¦¬ìŠ¤íŠ¸     df.iloc[[4, 5, 3]]
2     row ìœ„ì¹˜ì˜ ë¦¬ìŠ¤íŠ¸ ìŠ¬ë¼ì´ì‹±           df.iloc[2:5]  df[2:5]
3        í•˜ë‚˜ì˜ column ìœ„ì¹˜          df.iloc[:, 3]
4       column ìœ„ì¹˜ì˜ ë¦¬ìŠ¤íŠ¸  df.iloc[:, [3, 5, 6]]
5  column ìœ„ì¹˜ì˜ ë¦¬ìŠ¤íŠ¸ ìŠ¬ë¼ì´ì‹±        df.iloc[:, 3:7]

## 2ï¸âƒ£ ë°ì´í„° ë³€í˜•í•˜ê¸°

## 01. DataFrameì— ê°’ ì“°ê¸° I

In [1]:
import pandas as pd

In [2]:
iphone_df = pd.read_csv("data/iphone.csv", encoding= 'utf-8', index_col=0)
iphone_df

                      ì¶œì‹œì¼  ë””ìŠ¤í”Œë ˆì´  ë©”ëª¨ë¦¬     ì¶œì‹œ ë²„ì „ Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [3]:
iphone_df.loc["iPhone 8","ë©”ëª¨ë¦¬"]

'2GB'

In [4]:
iphone_df.loc["iPhone 8","ë©”ëª¨ë¦¬"] = '2.5GB'

In [5]:
iphone_df.loc["iPhone 8","ë©”ëª¨ë¦¬"]

'2.5GB'

In [6]:
iphone_df

                      ì¶œì‹œì¼  ë””ìŠ¤í”Œë ˆì´    ë©”ëª¨ë¦¬     ì¶œì‹œ ë²„ì „ Face ID
iPhone 7       2016-09-16    4.7    2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5    3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2.5GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5    3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8    3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8    4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5    4GB  iOS 12.0     Yes

In [7]:
iphone_df.loc["iPhone 8","ì¶œì‹œ ë²„ì „"] = 'iOS 10.3'
iphone_df

                      ì¶œì‹œì¼  ë””ìŠ¤í”Œë ˆì´    ë©”ëª¨ë¦¬     ì¶œì‹œ ë²„ì „ Face ID
iPhone 7       2016-09-16    4.7    2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5    3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2.5GB  iOS 10.3      No
iPhone 8 Plus  2017-09-22    5.5    3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8    3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8    4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5    4GB  iOS 12.0     Yes

In [8]:
iphone_df.loc["iPhone 8"]

ì¶œì‹œì¼        2017-09-22
ë””ìŠ¤í”Œë ˆì´             4.7
ë©”ëª¨ë¦¬             2.5GB
ì¶œì‹œ ë²„ì „        iOS 10.3
Face ID            No
Name: iPhone 8, dtype: object

In [9]:
iphone_df.loc["iPhone 8"] = ["2016-09-22",'4.7','2GB','iOS 11.0','No']
iphone_df

                      ì¶œì‹œì¼ ë””ìŠ¤í”Œë ˆì´  ë©”ëª¨ë¦¬     ì¶œì‹œ ë²„ì „ Face ID
iPhone 7       2016-09-16   4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16   5.5  3GB  iOS 10.0      No
iPhone 8       2016-09-22   4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22   5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03   5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21   5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21   6.5  4GB  iOS 12.0     Yes

In [11]:
iphone_df['ë””ìŠ¤í”Œë ˆì´']

iPhone 7         4.7
iPhone 7 Plus    5.5
iPhone 8         4.7
iPhone 8 Plus    5.5
iPhone X         5.8
iPhone XS        5.8
iPhone XS Max    6.5
Name: ë””ìŠ¤í”Œë ˆì´, dtype: object

In [12]:
iphone_df['ë””ìŠ¤í”Œë ˆì´'] = ['4.7 inch','5.5 inch','4.7 inch','5.5 inch','5.8 inch','5.8 inch','6.5 inch']
iphone_df

                      ì¶œì‹œì¼     ë””ìŠ¤í”Œë ˆì´  ë©”ëª¨ë¦¬     ì¶œì‹œ ë²„ì „ Face ID
iPhone 7       2016-09-16  4.7 inch  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16  5.5 inch  3GB  iOS 10.0      No
iPhone 8       2016-09-22  4.7 inch  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22  5.5 inch  3GB  iOS 11.0      No
iPhone X       2017-11-03  5.8 inch  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21  5.8 inch  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21  6.5 inch  4GB  iOS 12.0     Yes

In [13]:
iphone_df["Face ID"]

iPhone 7          No
iPhone 7 Plus     No
iPhone 8          No
iPhone 8 Plus     No
iPhone X         Yes
iPhone XS        Yes
iPhone XS Max    Yes
Name: Face ID, dtype: object

In [14]:
iphone_df["Face ID"] = ["No","No","No","No","No","No","No"]
iphone_df

                      ì¶œì‹œì¼     ë””ìŠ¤í”Œë ˆì´  ë©”ëª¨ë¦¬     ì¶œì‹œ ë²„ì „ Face ID
iPhone 7       2016-09-16  4.7 inch  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16  5.5 inch  3GB  iOS 10.0      No
iPhone 8       2016-09-22  4.7 inch  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22  5.5 inch  3GB  iOS 11.0      No
iPhone X       2017-11-03  5.8 inch  3GB  iOS 11.1      No
iPhone XS      2018-09-21  5.8 inch  4GB  iOS 12.0      No
iPhone XS Max  2018-09-21  6.5 inch  4GB  iOS 12.0      No

In [15]:
iphone_df["Face ID"] = "Yes"
iphone_df

                      ì¶œì‹œì¼     ë””ìŠ¤í”Œë ˆì´  ë©”ëª¨ë¦¬     ì¶œì‹œ ë²„ì „ Face ID
iPhone 7       2016-09-16  4.7 inch  2GB  iOS 10.0     Yes
iPhone 7 Plus  2016-09-16  5.5 inch  3GB  iOS 10.0     Yes
iPhone 8       2016-09-22  4.7 inch  2GB  iOS 11.0     Yes
iPhone 8 Plus  2017-09-22  5.5 inch  3GB  iOS 11.0     Yes
iPhone X       2017-11-03  5.8 inch  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21  5.8 inch  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21  6.5 inch  4GB  iOS 12.0     Yes

## 02. DataFrameì— ê°’ ì“°ê¸° II

In [1]:
import pandas as pd

In [2]:
iphone_df = pd.read_csv("data/iphone.csv", encoding= 'utf-8', index_col=0)
iphone_df

                      ì¶œì‹œì¼  ë””ìŠ¤í”Œë ˆì´  ë©”ëª¨ë¦¬     ì¶œì‹œ ë²„ì „ Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [3]:
iphone_df[['ë””ìŠ¤í”Œë ˆì´','Face ID']]

               ë””ìŠ¤í”Œë ˆì´ Face ID
iPhone 7         4.7      No
iPhone 7 Plus    5.5      No
iPhone 8         4.7      No
iPhone 8 Plus    5.5      No
iPhone X         5.8     Yes
iPhone XS        5.8     Yes
iPhone XS Max    6.5     Yes

In [4]:
iphone_df[['ë””ìŠ¤í”Œë ˆì´','Face ID']] = 'x'
iphone_df

                      ì¶œì‹œì¼ ë””ìŠ¤í”Œë ˆì´  ë©”ëª¨ë¦¬     ì¶œì‹œ ë²„ì „ Face ID
iPhone 7       2016-09-16     x  2GB  iOS 10.0       x
iPhone 7 Plus  2016-09-16     x  3GB  iOS 10.0       x
iPhone 8       2017-09-22     x  2GB  iOS 11.0       x
iPhone 8 Plus  2017-09-22     x  3GB  iOS 11.0       x
iPhone X       2017-11-03     x  3GB  iOS 11.1       x
iPhone XS      2018-09-21     x  4GB  iOS 12.0       x
iPhone XS Max  2018-09-21     x  4GB  iOS 12.0       x

In [5]:
iphone_df.loc[['iPhone 7','iPhone X']]

                 ì¶œì‹œì¼ ë””ìŠ¤í”Œë ˆì´  ë©”ëª¨ë¦¬     ì¶œì‹œ ë²„ì „ Face ID
iPhone 7  2016-09-16     x  2GB  iOS 10.0       x
iPhone X  2017-11-03     x  3GB  iOS 11.1       x

In [6]:
iphone_df.loc[['iPhone 7','iPhone X']] = 'o'
iphone_df

                      ì¶œì‹œì¼ ë””ìŠ¤í”Œë ˆì´  ë©”ëª¨ë¦¬     ì¶œì‹œ ë²„ì „ Face ID
iPhone 7                o     o    o         o       o
iPhone 7 Plus  2016-09-16     x  3GB  iOS 10.0       x
iPhone 8       2017-09-22     x  2GB  iOS 11.0       x
iPhone 8 Plus  2017-09-22     x  3GB  iOS 11.0       x
iPhone X                o     o    o         o       o
iPhone XS      2018-09-21     x  4GB  iOS 12.0       x
iPhone XS Max  2018-09-21     x  4GB  iOS 12.0       x

In [7]:
iphone_df.loc['iPhone 7' : 'iPhone X'] = 'o'
iphone_df

                      ì¶œì‹œì¼ ë””ìŠ¤í”Œë ˆì´  ë©”ëª¨ë¦¬     ì¶œì‹œ ë²„ì „ Face ID
iPhone 7                o     o    o         o       o
iPhone 7 Plus           o     o    o         o       o
iPhone 8                o     o    o         o       o
iPhone 8 Plus           o     o    o         o       o
iPhone X                o     o    o         o       o
iPhone XS      2018-09-21     x  4GB  iOS 12.0       x
iPhone XS Max  2018-09-21     x  4GB  iOS 12.0       x

In [8]:
iphone_df = pd.read_csv("data/iphone.csv", encoding= 'utf-8', index_col=0)
iphone_df

                      ì¶œì‹œì¼  ë””ìŠ¤í”Œë ˆì´  ë©”ëª¨ë¦¬     ì¶œì‹œ ë²„ì „ Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [9]:
iphone_df['ë””ìŠ¤í”Œë ˆì´'] > 5

iPhone 7         False
iPhone 7 Plus     True
iPhone 8         False
iPhone 8 Plus     True
iPhone X          True
iPhone XS         True
iPhone XS Max     True
Name: ë””ìŠ¤í”Œë ˆì´, dtype: bool

In [10]:
iphone_df.loc[iphone_df['ë””ìŠ¤í”Œë ˆì´'] > 5]

                      ì¶œì‹œì¼  ë””ìŠ¤í”Œë ˆì´  ë©”ëª¨ë¦¬     ì¶œì‹œ ë²„ì „ Face ID
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [11]:
iphone_df.loc[iphone_df['ë””ìŠ¤í”Œë ˆì´'] > 5] = 'p'
iphone_df

                      ì¶œì‹œì¼ ë””ìŠ¤í”Œë ˆì´  ë©”ëª¨ë¦¬     ì¶œì‹œ ë²„ì „ Face ID
iPhone 7       2016-09-16   4.7  2GB  iOS 10.0      No
iPhone 7 Plus           p     p    p         p       p
iPhone 8       2017-09-22   4.7  2GB  iOS 11.0      No
iPhone 8 Plus           p     p    p         p       p
iPhone X                p     p    p         p       p
iPhone XS               p     p    p         p       p
iPhone XS Max           p     p    p         p       p

In [12]:
iphone_df.iloc[[1,3],[1,4]]

              ë””ìŠ¤í”Œë ˆì´ Face ID
iPhone 7 Plus     p       p
iPhone 8 Plus     p       p

In [13]:
iphone_df.iloc[[1,3],[1,4]] = 'v'
iphone_df

                      ì¶œì‹œì¼ ë””ìŠ¤í”Œë ˆì´  ë©”ëª¨ë¦¬     ì¶œì‹œ ë²„ì „ Face ID
iPhone 7       2016-09-16   4.7  2GB  iOS 10.0      No
iPhone 7 Plus           p     v    p         p       v
iPhone 8       2017-09-22   4.7  2GB  iOS 11.0      No
iPhone 8 Plus           p     v    p         p       v
iPhone X                p     p    p         p       p
iPhone XS               p     p    p         p       p
iPhone XS Max           p     p    p         p       p

## 03. DataFrameì— ê°’ ì¶”ê°€/ì‚­ì œ

In [1]:
import pandas as pd

In [2]:
iphone_df = pd.read_csv("data/iphone.csv", encoding= 'utf-8', index_col=0)
iphone_df

                      ì¶œì‹œì¼  ë””ìŠ¤í”Œë ˆì´  ë©”ëª¨ë¦¬     ì¶œì‹œ ë²„ì „ Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [3]:
iphone_df.loc['iPhone XR'] = ['2018-10-26', 6.1, '3GB','iOS 12.0.1','Yes']
iphone_df

                      ì¶œì‹œì¼  ë””ìŠ¤í”Œë ˆì´  ë©”ëª¨ë¦¬       ì¶œì‹œ ë²„ì „ Face ID
iPhone 7       2016-09-16    4.7  2GB    iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB    iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB    iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB    iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB    iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB    iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB    iOS 12.0     Yes
iPhone XR      2018-10-26    6.1  3GB  iOS 12.0.1     Yes

In [4]:
iphone_df['ì œì¡°ì‚¬'] = 'Apple'
iphone_df

                      ì¶œì‹œì¼  ë””ìŠ¤í”Œë ˆì´  ë©”ëª¨ë¦¬       ì¶œì‹œ ë²„ì „ Face ID    ì œì¡°ì‚¬
iPhone 7       2016-09-16    4.7  2GB    iOS 10.0      No  Apple
iPhone 7 Plus  2016-09-16    5.5  3GB    iOS 10.0      No  Apple
iPhone 8       2017-09-22    4.7  2GB    iOS 11.0      No  Apple
iPhone 8 Plus  2017-09-22    5.5  3GB    iOS 11.0      No  Apple
iPhone X       2017-11-03    5.8  3GB    iOS 11.1     Yes  Apple
iPhone XS      2018-09-21    5.8  4GB    iOS 12.0     Yes  Apple
iPhone XS Max  2018-09-21    6.5  4GB    iOS 12.0     Yes  Apple
iPhone XR      2018-10-26    6.1  3GB  iOS 12.0.1     Yes  Apple

In [5]:
iphone_df.drop('iPhone XR',axis = 'index', inplace= False)

                      ì¶œì‹œì¼  ë””ìŠ¤í”Œë ˆì´  ë©”ëª¨ë¦¬     ì¶œì‹œ ë²„ì „ Face ID    ì œì¡°ì‚¬
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No  Apple
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No  Apple
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No  Apple
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No  Apple
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes  Apple
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes  Apple
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes  Apple

In [6]:
# inplace = False ì—¬ì„œ ê¸°ì¡´ì˜ ë°ì´í„°í”„ë ˆì„ì€ ë°”ë€Œì§€ ì•ŠìŒ
# inplace = True ë¡œ í•˜ë©´ ê¸°ì¡´ì˜ ë°ì´í„°í”„ë ˆì„ì´ ë°”ë€œ
iphone_df

                      ì¶œì‹œì¼  ë””ìŠ¤í”Œë ˆì´  ë©”ëª¨ë¦¬       ì¶œì‹œ ë²„ì „ Face ID    ì œì¡°ì‚¬
iPhone 7       2016-09-16    4.7  2GB    iOS 10.0      No  Apple
iPhone 7 Plus  2016-09-16    5.5  3GB    iOS 10.0      No  Apple
iPhone 8       2017-09-22    4.7  2GB    iOS 11.0      No  Apple
iPhone 8 Plus  2017-09-22    5.5  3GB    iOS 11.0      No  Apple
iPhone X       2017-11-03    5.8  3GB    iOS 11.1     Yes  Apple
iPhone XS      2018-09-21    5.8  4GB    iOS 12.0     Yes  Apple
iPhone XS Max  2018-09-21    6.5  4GB    iOS 12.0     Yes  Apple
iPhone XR      2018-10-26    6.1  3GB  iOS 12.0.1     Yes  Apple

In [7]:
# inplace = True ë¡œ í•˜ë©´ ê¸°ì¡´ì˜ ë°ì´í„°í”„ë ˆì„ì´ ë°”ë€œ
iphone_df.drop('iPhone XR',axis = 'index', inplace= True)
iphone_df

                      ì¶œì‹œì¼  ë””ìŠ¤í”Œë ˆì´  ë©”ëª¨ë¦¬     ì¶œì‹œ ë²„ì „ Face ID    ì œì¡°ì‚¬
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No  Apple
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No  Apple
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No  Apple
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No  Apple
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes  Apple
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes  Apple
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes  Apple

In [8]:
iphone_df.drop('ì œì¡°ì‚¬',axis = 'columns', inplace= True)
iphone_df

                      ì¶œì‹œì¼  ë””ìŠ¤í”Œë ˆì´  ë©”ëª¨ë¦¬     ì¶œì‹œ ë²„ì „ Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [9]:
iphone_df.drop(['iPhone 7','iPhone 8', 'iPhone X'], axis = 'index', inplace = True)
iphone_df

                      ì¶œì‹œì¼  ë””ìŠ¤í”Œë ˆì´  ë©”ëª¨ë¦¬     ì¶œì‹œ ë²„ì „ Face ID
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

## 04. ì˜ëª»ëœ DataFrame ê³ ì¹˜ê¸° I

### ì‹¤ìŠµê³¼ì œ 

í‚¤ì™€ ëª¸ë¬´ê²Œê°€ ë‹´ê²¨ ìˆëŠ” í•œ DataFrameì´ ìˆëŠ”ë°ìš”. ëª‡ ê°€ì§€ ì˜ëª»ëœ ì‚¬í•­ë“¤ì´ ìˆìŠµë‹ˆë‹¤. ì´ë²ˆ ì±•í„°ì—ì„œ ë°°ìš´ ê¸°ë²•ë“¤ë¡œ DataFrameì„ ë°”ë¡œì¡ì•„ ë´…ì‹œë‹¤.

#### í•´ì•¼ í•  ì¼ì´ ì„¸ ê°€ì§€ ìˆìŠµë‹ˆë‹¤.
#### 1. ID 1ì˜ ë¬´ê²Œë¥¼ 200ìœ¼ë¡œ ë³€ê²½í•˜ì„¸ìš”.
#### 2. ID 21ì˜ rowë¥¼ ì‚­ì œí•˜ì„¸ìš”.
#### 3. ID 20ì˜ rowë¥¼ ì¶”ê°€í•˜ì„¸ìš”. ID 20ì˜ í‚¤ëŠ” 70, ë¬´ê²ŒëŠ” 200ì…ë‹ˆë‹¤.

In [1]:
import pandas as pd

df = pd.read_csv('data/body_imperial1.csv',index_col=0)
df.loc[1,'Weight (Pound)'] = 200
df.drop(21, axis = 'index', inplace = True)
df.loc[20] = [70,200]
df

    Height (Inch)  Weight (Pound)
ID
0       73.847017      241.893563
1       70.000000      200.000000
2       74.110105      212.740856
3       71.730978      220.042470
4       69.881796      206.349801
5       67.253016      152.212156
6       68.785081      183.927889
7       68.348516      167.971110
8       67.018950      175.929440
9       63.456494      156.399676
10      71.195382      186.604926
11      62.636675      102.853563
12      62.077832      138.691680
13      60.030434       97.687432
14      59.098250      110.529686
15      66.172652      136.777454
16      67.067155      170.867906
17      63.867992      128.475319
18      69.034243      163.852461
19      61.944246      113.649103
20      70.000000      200.000000

## 05. ì˜ëª»ëœ DataFrame ê³ ì¹˜ê¸° II

### ì‹¤ìŠµê³¼ì œ
í‚¤ì™€ ëª¸ë¬´ê²Œê°€ ë‹´ê²¨ ìˆëŠ” í•œ DataFrameì´ ìˆëŠ”ë°ìš”. ëª‡ ê°€ì§€ ì˜ëª»ëœ ì‚¬í•­ë“¤ì´ ìˆìŠµë‹ˆë‹¤. ì´ë²ˆ ì±•í„°ì—ì„œ ë°°ìš´ ê¸°ë²•ë“¤ë¡œ DataFrameì„ ë°”ë¡œì¡ì•„ ë´…ì‹œë‹¤.

#### í•´ì•¼ í•  ì¼ì´ ë‘ ê°€ì§€ ìˆìŠµë‹ˆë‹¤.

#### 'ë¹„ë§Œë„' columnì„ ì¶”ê°€í•˜ê³ , ëª¨ë“  IDì— ëŒ€í•´ 'ì •ìƒ'ìœ¼ë¡œ ì„¤ì •í•´ì£¼ì„¸ìš”.
#### 'Gender' columnì˜ ê°’ì„ ID 0ì—ì„œ 10ê¹Œì§€ëŠ” 'Male', 11ì—ì„œ 20ê¹Œì§€ëŠ” 'Female'ë¡œ ë³€ê²½í•˜ì„¸ìš”.

In [1]:
import pandas as pd

df = pd.read_csv('data/body_imperial2.csv', index_col=0)

df['ë¹„ë§Œë„'] = 'ì •ìƒ'
df.loc[0:10,"Gender"] = 'Male'
df.loc[11:20,"Gender"] = 'Female'
df

    Gender  Height (Inch)  Weight (Pound) ë¹„ë§Œë„
ID
0     Male      73.847017      241.893563  ì •ìƒ
1     Male      70.000000      200.000000  ì •ìƒ
2     Male      74.110105      212.740856  ì •ìƒ
3     Male      71.730978      220.042470  ì •ìƒ
4     Male      69.881796      206.349801  ì •ìƒ
5     Male      67.253016      152.212156  ì •ìƒ
6     Male      68.785081      183.927889  ì •ìƒ
7     Male      68.348516      167.971110  ì •ìƒ
8     Male      67.018950      175.929440  ì •ìƒ
9     Male      63.456494      156.399676  ì •ìƒ
10    Male      71.195382      186.604926  ì •ìƒ
11  Female      62.636675      102.853563  ì •ìƒ
12  Female      62.077832      138.691680  ì •ìƒ
13  Female      60.030434       97.687432  ì •ìƒ
14  Female      59.098250      110.529686  ì •ìƒ
15  Female      66.172652      136.777454  ì •ìƒ
16  Female      67.067155      170.867906  ì •ìƒ
17  Female      63.867992      128.475319  ì •ìƒ
18  Female      69.034243      163.852461  ì •ìƒ
19  Female      61.944246      113.649103  ì •ìƒ
20  Female      70.000000      200.000000  ì •ìƒ

## 06. index/column ì„¤ì •í•˜ê¸°

In [1]:
import pandas as pd

In [2]:
liverpool_df = pd.read_csv("data/liverpool.csv", index_col = 0)
liverpool_df

                position  born  number nationality
Roberto Firmino       FW  1991   no. 9      Brazil
Sadio Mane            FW  1992  no. 10     Senegal
Mohamed Salah         FW  1992  no. 11       Egypt
Joe Gomez             DF  1997  no. 12     England
Alisson Becker        GK  1992  no. 13      Brazil

In [3]:
#rename í•¨ìˆ˜ : ì»¬ëŸ¼ëª… ë°”ê¿ˆ - ê¸°ì¡´ í•¨ìˆ˜ëŠ” ìœ ì§€
liverpool_df.rename(columns={'position':'Position'})

                Position  born  number nationality
Roberto Firmino       FW  1991   no. 9      Brazil
Sadio Mane            FW  1992  no. 10     Senegal
Mohamed Salah         FW  1992  no. 11       Egypt
Joe Gomez             DF  1997  no. 12     England
Alisson Becker        GK  1992  no. 13      Brazil

In [4]:
liverpool_df

                position  born  number nationality
Roberto Firmino       FW  1991   no. 9      Brazil
Sadio Mane            FW  1992  no. 10     Senegal
Mohamed Salah         FW  1992  no. 11       Egypt
Joe Gomez             DF  1997  no. 12     England
Alisson Becker        GK  1992  no. 13      Brazil

In [5]:
#rename í•¨ìˆ˜ : ì»¬ëŸ¼ëª… ë°”ê¿ˆ - inplace= Trueë¥¼ ì“°ë©´ ê¸°ì¡´í•¨ìˆ˜ë„ ë°”ë€œ
liverpool_df.rename(columns={'position':'Position'},inplace=True)
liverpool_df

                Position  born  number nationality
Roberto Firmino       FW  1991   no. 9      Brazil
Sadio Mane            FW  1992  no. 10     Senegal
Mohamed Salah         FW  1992  no. 11       Egypt
Joe Gomez             DF  1997  no. 12     England
Alisson Becker        GK  1992  no. 13      Brazil

In [6]:
liverpool_df.rename(columns={'position':'Position','born':'Born','number':'Number','nationality':'Nationality'},inplace=True)
liverpool_df

                Position  Born  Number Nationality
Roberto Firmino       FW  1991   no. 9      Brazil
Sadio Mane            FW  1992  no. 10     Senegal
Mohamed Salah         FW  1992  no. 11       Egypt
Joe Gomez             DF  1997  no. 12     England
Alisson Becker        GK  1992  no. 13      Brazil

In [7]:
liverpool_df.index.name= 'Player Name'
liverpool_df

                Position  Born  Number Nationality
Player Name
Roberto Firmino       FW  1991   no. 9      Brazil
Sadio Mane            FW  1992  no. 10     Senegal
Mohamed Salah         FW  1992  no. 11       Egypt
Joe Gomez             DF  1997  no. 12     England
Alisson Becker        GK  1992  no. 13      Brazil

In [8]:
liverpool_df.set_index("Number")

       Position  Born Nationality
Number
no. 9        FW  1991      Brazil
no. 10       FW  1992     Senegal
no. 11       FW  1992       Egypt
no. 12       DF  1997     England
no. 13       GK  1992      Brazil

In [9]:
liverpool_df.index

Index(['Roberto Firmino', 'Sadio Mane', 'Mohamed Salah', 'Joe Gomez',
       'Alisson Becker'],
      dtype='object', name='Player Name')

In [10]:
liverpool_df['Player'] = liverpool_df.index
liverpool_df

                Position  Born  Number Nationality           Player
Player Name
Roberto Firmino       FW  1991   no. 9      Brazil  Roberto Firmino
Sadio Mane            FW  1992  no. 10     Senegal       Sadio Mane
Mohamed Salah         FW  1992  no. 11       Egypt    Mohamed Salah
Joe Gomez             DF  1997  no. 12     England        Joe Gomez
Alisson Becker        GK  1992  no. 13      Brazil   Alisson Becker

In [11]:
liverpool_df.set_index("Number", inplace= True)
liverpool_df

       Position  Born Nationality           Player
Number
no. 9        FW  1991      Brazil  Roberto Firmino
no. 10       FW  1992     Senegal       Sadio Mane
no. 11       FW  1992       Egypt    Mohamed Salah
no. 12       DF  1997     England        Joe Gomez
no. 13       GK  1992      Brazil   Alisson Becker

## 07. ì„œë¥˜ ì „í˜• í•©ê²© ì—¬ë¶€

### ì‹¤ìŠµê³¼ì œ
í† ìµ ì‹œí—˜ì€ LC(ë“£ê¸°) íŒŒíŠ¸ì™€ RC(ë…í•´) íŒŒíŠ¸ë¡œ ì´ë£¨ì–´ì ¸ ìˆìŠµë‹ˆë‹¤. ê° íŒŒíŠ¸ê°€ 495ì  ë§Œì , ì´ 990ì ì´ ë§Œì ì…ë‹ˆë‹¤.

#### â€œì„œìš¸ í•­ê³µâ€ì— ì…ì‚¬í•˜ê¸° ìœ„í•´ì„œëŠ” í† ìµ ì ìˆ˜ë¥¼ ì œì¶œí•´ì•¼ í•˜ëŠ”ë°ìš”. ê° íŒŒíŠ¸ê°€ ìµœì†Œ 250ì , ì´ ì ìˆ˜ê°€ ìµœì†Œ 600ì ì´ ë˜ì–´ì•¼ ì„œë¥˜ ì „í˜•ì„ í•©ê²©í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

#### ê¸°ì¡´ DataFrameì— â€œí•©ê²© ì—¬ë¶€â€ë¼ëŠ” columnì„ ì¶”ê°€í•˜ê³ , í•©ê²©í•œ ì§€ì›ìëŠ” ë¶ˆë¦° ê°’ True, ë¶ˆí•©ê²©í•œ ì§€ì›ìëŠ” ë¶ˆë¦° ê°’ Falseë¥¼ ë„£ì–´ì£¼ë©´ ë©ë‹ˆë‹¤.

In [1]:
import pandas as pd
    
df = pd.read_csv('data/toeic.csv')

pass_total = df['LC'] + df["RC"] > 600
pass_both = (df['LC'] >= 250) & (df["RC"] >= 250)
df['í•©ê²©ì—¬ë¶€'] = pass_total & pass_both
#df.loc[(df['LC']+df['RC'] >= 600) & (df['LC'] >= 250) & (df['RC'] >= 250), 'í•©ê²©ì—¬ë¶€'] = True
#df.loc[(df['LC']+df['RC'] < 600) | (df['LC'] < 250) | (df['RC'] < 250) ,'í•©ê²©ì—¬ë¶€'] = False
df

   Gender   LC   RC   í•©ê²©ì—¬ë¶€
0  female  315  320   True
1  female  430  245  False
2  female  430  475   True
3    male  180  220  False
4    male  325  350   True
5  female  295  400   True
6  female  405  475   True
7    male  155  150  False
8    male  280  315  False
9  female  215  475  False

## 08. í¼ì¦ì„ í’€ì–´ë¼!

### ì‹¤ìŠµê³¼ì œ 

ì½”ë“œë¥¼ 4ì¤„ë§Œ ì¨ì„œ, ì•„ë˜ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ë°”ê¿”ë³´ì„¸ìš”.

In [1]:
import pandas as pd

df = pd.read_csv('data/Puzzle_before.csv')
df

   A   B   C   D   E   F
0  1  55  70  87  56  13
1  2  45  60  99  53  24
2  3  88  70  94  39  29
3  4  97  80  24  83  78
4  5  13  90  26  80  61

In [2]:
df['A'] = df['A'] *2
df[df[['B','C','D','E']] < 80] = 0
df[df[['B','C','D','E']] >= 80] = 1
df.loc[df['F'] == 29,'F'] = 99
df

    A  B  C  D  E   F
0   2  0  0  1  0  13
1   4  0  0  1  0  24
2   6  1  0  1  0  99
3   8  1  1  0  1  78
4  10  0  1  0  1  61

## 3ï¸âƒ£ í° ë°ì´í„° ë‹¤ë£¨ê¸°

## 01. í° DataFrame ì‚´í´ë³´ê¸°

In [1]:
import pandas as pd

In [2]:
laptops_df = pd.read_csv("data/laptops.csv")
laptops_df

,brand,model,ram,hd_type,hd_size,screen_size,price,processor_brand,processor_model,clock_speed,graphic_card_brand,graphic_card_size,os,weight,comments
0,Dell,Inspiron 15-3567,4,hdd,1024,15.6,40000,intel,i5,2.5,intel,NaN,linux,2.50,NaN
1,Apple,MacBook Air,8,ssd,128,13.3,55499,intel,i5,1.8,intel,2.0,mac,1.35,NaN
2,Apple,MacBook Air,8,ssd,256,13.3,71500,intel,i5,1.8,intel,2.0,mac,1.35,NaN
3,Apple,MacBook Pro,8,ssd,128,13.3,96890,intel,i5,2.3,intel,2.0,mac,3.02,NaN
4,Apple,MacBook Pro,8,ssd,256,13.3,112666,intel,i5,2.3,intel,2.0,mac,3.02,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,Asus,A555LF,8,hdd,1024,15.6,39961,intel,i3 4th gen,1.7,nvidia,2.0,windows,2.30,NaN
163,Asus,X555LA-XX172D,4,hdd,500,15.6,28489,intel,i3 4th gen,1.9,intel,NaN,linux,2.30,NaN
164,Asus,X554LD,2,hdd,500,15.6,29199,intel,i3 4th gen,1.9,intel,1.0,linux,2.30,NaN
165,Asus,X550LAV-XX771D,2,hdd,500,15.6,29990,intel,i3 4th gen,1.7,intel,NaN,linux,2.50,NaN
166,Asus,X540LA-XX538T,4,hdd,1024,15.6,30899,intel,i3 5th gen,2.0,intel,NaN,windows,2.30,NaN

In [3]:
laptops_df.head(3)

,brand,model,ram,hd_type,hd_size,screen_size,price,processor_brand,processor_model,clock_speed,graphic_card_brand,graphic_card_size,os,weight,comments
0,Dell,Inspiron 15-3567,4,hdd,1024,15.6,40000,intel,i5,2.5,intel,NaN,linux,2.50,NaN
1,Apple,MacBook Air,8,ssd,128,13.3,55499,intel,i5,1.8,intel,2.0,mac,1.35,NaN
2,Apple,MacBook Air,8,ssd,256,13.3,71500,intel,i5,1.8,intel,2.0,mac,1.35,NaN

In [4]:
laptops_df.tail(4)

,brand,model,ram,hd_type,hd_size,screen_size,price,processor_brand,processor_model,clock_speed,graphic_card_brand,graphic_card_size,os,weight,comments
163,Asus,X555LA-XX172D,4,hdd,500,15.6,28489,intel,i3 4th gen,1.9,intel,NaN,linux,2.3,NaN
164,Asus,X554LD,2,hdd,500,15.6,29199,intel,i3 4th gen,1.9,intel,1.0,linux,2.3,NaN
165,Asus,X550LAV-XX771D,2,hdd,500,15.6,29990,intel,i3 4th gen,1.7,intel,NaN,linux,2.5,NaN
166,Asus,X540LA-XX538T,4,hdd,1024,15.6,30899,intel,i3 5th gen,2.0,intel,NaN,windows,2.3,NaN

In [5]:
laptops_df.shape

(167, 15)

In [6]:
laptops_df.columns

Index(['brand', 'model', 'ram', 'hd_type', 'hd_size', 'screen_size', 'price',
       'processor_brand', 'processor_model', 'clock_speed',
       'graphic_card_brand', 'graphic_card_size', 'os', 'weight', 'comments'],
      dtype='object')

In [7]:
laptops_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167 entries, 0 to 166
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   brand               167 non-null    object
 1   model               167 non-null    object
 2   ram                 167 non-null    int64
 3   hd_type             167 non-null    object
 4   hd_size             167 non-null    int64
 5   screen_size         167 non-null    float64
 6   price               167 non-null    int64
 7   processor_brand     167 non-null    object
 8   processor_model     167 non-null    object
 9   clock_speed         166 non-null    float64
 10  graphic_card_brand  163 non-null    object
 11  graphic_card_size   81 non-null     float64
 12  os                  167 non-null    object
 13  weight              160 non-null    float64
 14  comments            55 non-null     object
dtypes: float64(4), int64(3), object(8)
memory usage: 19.7+ KB

In [8]:
laptops_df.describe()

,ram,hd_size,screen_size,price,clock_speed,graphic_card_size,weight
count,167.000000,167.00000,167.000000,167.000000,166.000000,81.000000,160.000000
mean,6.898204,768.91018,14.775210,64132.898204,2.321084,52.160494,2.250812
std,3.787479,392.99080,1.376526,42797.674010,0.554187,444.134142,0.648446
min,2.000000,32.00000,10.100000,13872.000000,1.100000,1.000000,0.780000
25%,4.000000,500.00000,14.000000,35457.500000,1.900000,2.000000,1.900000
50%,8.000000,1024.00000,15.600000,47990.000000,2.300000,2.000000,2.200000
75%,8.000000,1024.00000,15.600000,77494.500000,2.600000,4.000000,2.600000
max,16.000000,2048.00000,17.600000,226000.000000,3.800000,4000.000000,4.200000

In [9]:
laptops_df.sort_values(by="price")

,brand,model,ram,hd_type,hd_size,screen_size,price,processor_brand,processor_model,clock_speed,graphic_card_brand,graphic_card_size,os,weight,comments
148,Acer,Aspire SW3-016,2,ssd,32,10.1,13872,intel,Atom Z8300,1.44,intel,NaN,windows,1.2,NaN
83,Acer,A315-31CDC UN.GNTSI.001,2,ssd,500,15.6,17990,intel,Celeron,1.10,intel,NaN,windows,2.1,NaN
108,Acer,Aspire ES-15 NX.GKYSI.010,4,hdd,500,15.6,17990,amd,A4-7210,1.80,amd,NaN,windows,2.4,NaN
100,Acer,A315-31-P4CRUN.GNTSI.002,4,hdd,500,15.6,18990,intel,pentium,1.10,intel,NaN,windows,NaN,NaN
73,Acer,Aspire ES1-523,4,hdd,1024,15.6,19465,amd,A4-7210,1.80,amd,NaN,linux,2.4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,Microsoft,Surface Book CR9-00013,8,ssd,128,13.5,178799,intel,i5,1.80,intel,NaN,windows,1.5,NaN
31,Acer,Predator 17,16,ssd,256,17.3,178912,intel,i7,2.60,nvidia,NaN,windows,4.2,Integrated Graphics
96,Alienware,AW13R3-7000SLV-PUS,8,ssd,256,13.3,190256,intel,i7,3.00,nvidia,6.0,windows,2.6,13.3 inch FHD (1920 x 1080) IPS Anti-Glare 300...
90,Alienware,15 Notebook,16,hdd,1024,15.6,199000,intel,i7,2.60,nvidia,8.0,windows,3.5,Maximum Display Resolution : 1920 x 1080 pixel
5,Apple,MacBook Pro (TouchBar),16,ssd,512,15.0,226000,intel,i7,2.70,intel,2.0,mac,2.5,NaN

In [10]:
laptops_df.sort_values(by="price", ascending = False)

,brand,model,ram,hd_type,hd_size,screen_size,price,processor_brand,processor_model,clock_speed,graphic_card_brand,graphic_card_size,os,weight,comments
5,Apple,MacBook Pro (TouchBar),16,ssd,512,15.0,226000,intel,i7,2.70,intel,2.0,mac,2.5,NaN
90,Alienware,15 Notebook,16,hdd,1024,15.6,199000,intel,i7,2.60,nvidia,8.0,windows,3.5,Maximum Display Resolution : 1920 x 1080 pixel
96,Alienware,AW13R3-7000SLV-PUS,8,ssd,256,13.3,190256,intel,i7,3.00,nvidia,6.0,windows,2.6,13.3 inch FHD (1920 x 1080) IPS Anti-Glare 300...
31,Acer,Predator 17,16,ssd,256,17.3,178912,intel,i7,2.60,nvidia,NaN,windows,4.2,Integrated Graphics
154,Microsoft,Surface Book CR9-00013,8,ssd,128,13.5,178799,intel,i5,1.80,intel,NaN,windows,1.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,Acer,Aspire ES1-523,4,hdd,1024,15.6,19465,amd,A4-7210,1.80,amd,NaN,linux,2.4,NaN
100,Acer,A315-31-P4CRUN.GNTSI.002,4,hdd,500,15.6,18990,intel,pentium,1.10,intel,NaN,windows,NaN,NaN
108,Acer,Aspire ES-15 NX.GKYSI.010,4,hdd,500,15.6,17990,amd,A4-7210,1.80,amd,NaN,windows,2.4,NaN
83,Acer,A315-31CDC UN.GNTSI.001,2,ssd,500,15.6,17990,intel,Celeron,1.10,intel,NaN,windows,2.1,NaN
148,Acer,Aspire SW3-016,2,ssd,32,10.1,13872,intel,Atom Z8300,1.44,intel,NaN,windows,1.2,NaN

In [11]:
laptops_df

,brand,model,ram,hd_type,hd_size,screen_size,price,processor_brand,processor_model,clock_speed,graphic_card_brand,graphic_card_size,os,weight,comments
0,Dell,Inspiron 15-3567,4,hdd,1024,15.6,40000,intel,i5,2.5,intel,NaN,linux,2.50,NaN
1,Apple,MacBook Air,8,ssd,128,13.3,55499,intel,i5,1.8,intel,2.0,mac,1.35,NaN
2,Apple,MacBook Air,8,ssd,256,13.3,71500,intel,i5,1.8,intel,2.0,mac,1.35,NaN
3,Apple,MacBook Pro,8,ssd,128,13.3,96890,intel,i5,2.3,intel,2.0,mac,3.02,NaN
4,Apple,MacBook Pro,8,ssd,256,13.3,112666,intel,i5,2.3,intel,2.0,mac,3.02,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,Asus,A555LF,8,hdd,1024,15.6,39961,intel,i3 4th gen,1.7,nvidia,2.0,windows,2.30,NaN
163,Asus,X555LA-XX172D,4,hdd,500,15.6,28489,intel,i3 4th gen,1.9,intel,NaN,linux,2.30,NaN
164,Asus,X554LD,2,hdd,500,15.6,29199,intel,i3 4th gen,1.9,intel,1.0,linux,2.30,NaN
165,Asus,X550LAV-XX771D,2,hdd,500,15.6,29990,intel,i3 4th gen,1.7,intel,NaN,linux,2.50,NaN
166,Asus,X540LA-XX538T,4,hdd,1024,15.6,30899,intel,i3 5th gen,2.0,intel,NaN,windows,2.30,NaN

In [12]:
# ê¸°ì¡´ ë°ì´í„° í”„ë ˆì„ì— ì ìš©í•˜ê³  ì‹¶ìœ¼ë©´ inplace = True
laptops_df.sort_values(by="price", ascending = False, inplace =True)

In [13]:
# ì €ì¥ë¨
laptops_df

,brand,model,ram,hd_type,hd_size,screen_size,price,processor_brand,processor_model,clock_speed,graphic_card_brand,graphic_card_size,os,weight,comments
5,Apple,MacBook Pro (TouchBar),16,ssd,512,15.0,226000,intel,i7,2.70,intel,2.0,mac,2.5,NaN
90,Alienware,15 Notebook,16,hdd,1024,15.6,199000,intel,i7,2.60,nvidia,8.0,windows,3.5,Maximum Display Resolution : 1920 x 1080 pixel
96,Alienware,AW13R3-7000SLV-PUS,8,ssd,256,13.3,190256,intel,i7,3.00,nvidia,6.0,windows,2.6,13.3 inch FHD (1920 x 1080) IPS Anti-Glare 300...
31,Acer,Predator 17,16,ssd,256,17.3,178912,intel,i7,2.60,nvidia,NaN,windows,4.2,Integrated Graphics
154,Microsoft,Surface Book CR9-00013,8,ssd,128,13.5,178799,intel,i5,1.80,intel,NaN,windows,1.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,Acer,Aspire ES1-523,4,hdd,1024,15.6,19465,amd,A4-7210,1.80,amd,NaN,linux,2.4,NaN
100,Acer,A315-31-P4CRUN.GNTSI.002,4,hdd,500,15.6,18990,intel,pentium,1.10,intel,NaN,windows,NaN,NaN
108,Acer,Aspire ES-15 NX.GKYSI.010,4,hdd,500,15.6,17990,amd,A4-7210,1.80,amd,NaN,windows,2.4,NaN
83,Acer,A315-31CDC UN.GNTSI.001,2,ssd,500,15.6,17990,intel,Celeron,1.10,intel,NaN,windows,2.1,NaN
148,Acer,Aspire SW3-016,2,ssd,32,10.1,13872,intel,Atom Z8300,1.44,intel,NaN,windows,1.2,NaN

## 02. í° Series ì‚´í´ë³´ê¸°

In [1]:
import pandas as pd

In [2]:
laptops_df = pd.read_csv("data/laptops.csv")

In [3]:
laptops_df['brand']

0       Dell
1      Apple
2      Apple
3      Apple
4      Apple
       ...
162     Asus
163     Asus
164     Asus
165     Asus
166     Asus
Name: brand, Length: 167, dtype: object

In [4]:
laptops_df['brand'].unique()

array(['Dell', 'Apple', 'Acer', 'HP', 'Lenovo', 'Alienware', 'Microsoft',
       'Asus'], dtype=object)

In [5]:
laptops_df['brand'].value_counts()

HP           55
Acer         35
Dell         31
Lenovo       18
Asus          9
Apple         7
Alienware     6
Microsoft     6
Name: brand, dtype: int64

In [6]:
laptops_df['brand'].describe()

count     167
unique      8
top        HP
freq       55
Name: brand, dtype: object

## 03. ì—¬í–‰ì§€ ì„ ì •í•˜ê¸° I

### ì§ˆë¬¸1 
ì—¬í–‰ì„ ì¢‹ì•„í•˜ëŠ” ìµì¤‘ì´ëŠ” ì—¬í–‰ì§€ë¥¼ ì•Œì•„ë³´ê³  ìˆìŠµë‹ˆë‹¤. 
#### ì£¼ì–´ì§„ ë°ì´í„°ì—ëŠ” ì´ ëª‡ ê°œì˜ ë„ì‹œì™€ ëª‡ ê°œì˜ ë‚˜ë¼ê°€ ìˆëŠ”ì§€ ì•Œì•„ë§í˜€ ë³´ì„¸ìš”.

#### ë‹µì•ˆì€ ë„ì‹œ/ë‚˜ë¼ í˜•ì‹ìœ¼ë¡œ ìˆ«ìë§Œ ì…ë ¥í•´ ì£¼ì„¸ìš”. (ì˜ˆì‹œ: 156/77)

In [1]:
import pandas as pd

df = pd.read_csv('data/world_cities.csv',index_col=0)

df

    City / Urban area     Country  Population  Land area (in sqKm)
0        Buenos Aires   Argentina    11200000                 2266
1           Melbourne   Australia     3162000                 2080
2              Sydney   Australia     3502000                 1687
3            Brisbane   Australia     1508000                 1603
4               Perth   Australia     1177000                  964
..                ...         ...         ...                  ...
245            Canton         USA      267000                  372
246           Spokane         USA      335000                  371
247          Tashkent  Uzbekistan     2200000                  531
248  Ho Chi Minh City     Vietnam     4900000                  518
249            Harare    Zimbabwe     1750000                  712

[249 rows x 4 columns]

In [2]:
df['City / Urban area'].describe()

count        249
unique       249
top       Albany
freq           1
Name: City / Urban area, dtype: object

In [3]:
df['Country'].describe()

count     249
unique     61
top       USA
freq      105
Name: Country, dtype: object

In [4]:
print('ì§ˆë¬¸1 ë‹µ :', df['City / Urban area'].describe()[1] ,'/',df['Country'].describe()[1])

ì§ˆë¬¸1 ë‹µ : 249 / 61

### ì§ˆë¬¸2 
ì‚¬ëŒ ë§Œë‚˜ê¸°ë¥¼ ì¢‹ì•„í•˜ëŠ” ìµì¤‘ì´ëŠ” ê°€ì¥ ì‚¬ëŒì´ ë¶ë¹„ëŠ” ë„ì‹œë¡œ ì—¬í–‰ì„ ê°€ê¸°ë¡œ ë§ˆìŒ ë¨¹ì—ˆìŠµë‹ˆë‹¤. 
#### ì£¼ì–´ì§„ ë°ì´í„°ì—ì„œ, ì¸êµ¬ ë°€ë„(ëª…/sqKm) ê°€ 10000 ì´ ë„˜ëŠ” ë„ì‹œëŠ” ì´ ëª‡ ê°œì¸ì§€ ì•Œì•„ë³´ì„¸ìš”.
#### ì°¸ê³ ë¡œ ì¸êµ¬ ë°€ë„ëŠ” ì¸êµ¬ ìˆ˜ / ë•…ì˜ ë©´ì  (in sqKm) ë¡œ êµ¬í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

#### ë‹µì•ˆì€ ìˆ«ìë¡œë§Œ ì…ë ¥í•´ ì£¼ì„¸ìš”. (ì˜ˆì‹œ: 24)

In [5]:
df.loc[df['Population'] / df['Land area (in sqKm)'] > 10000].value_counts().sum()

19

### ì§ˆë¬¸3

#### ì´ë²ˆì—ëŠ” ì¸êµ¬ ë°€ë„ê°€ ê°€ì¥ ë†’ì€ ë„ì‹œë¥¼ ì°¾ì•„ë´…ì‹œë‹¤.

#### ë‹µì•ˆì€ ë°ì´í„°ì— ì íŒ ì´ë¦„ì„ ê·¸ëŒ€ë¡œ ì…ë ¥í•´ ì£¼ì„¸ìš”. (ì˜ˆì‹œ: Seoul)

In [6]:
df.loc[df['Population'] / df['Land area (in sqKm)'] == max(df['Population'] / df['Land area (in sqKm)']),'City / Urban area']

75    Mumbai
Name: City / Urban area, dtype: object

In [7]:
df["Density"] = df['Population'] / df['Land area (in sqKm)']
density_ranks = df.sort_values(by = "Density", ascending=False)
density_ranks['City / Urban area']

75              Mumbai
74             Kolkata
101            Karachi
99               Lagos
34            Shenzhen
            ...
195        Chattanooga
224          Asheville
57                 Pau
221            Hickory
197    Barnstable Town
Name: City / Urban area, Length: 249, dtype: object

## 04. ì—¬í–‰ì§€ ì„ ì •í•˜ê¸° II

### ì§ˆë¬¸1

ìµì¤‘ì´ëŠ” ëˆ„ë‚˜ì—ê²Œ ì—¬í–‰ì§€ë¥¼ ì¶”ì²œ ë°›ìœ¼ë ¤ê³  í•©ë‹ˆë‹¤.
#### ê·¸ëŸ°ë° ë‚˜ë¼ ì´ë¦„ì´ ê¸°ì–µë‚˜ì§€ ì•Šê³ , ì´ ë°ì´í„°ì— 4ê°œì˜ ë„ì‹œê°€ ë‚˜ì™”ë‹¤ëŠ” ê²ƒë§Œ ê¸°ì–µì´ ë‚œë‹¤ê³  í•˜ë„¤ìš”.
#### ì´ ë‚˜ë¼ëŠ” ë¬´ì—‡ì¼ê¹Œìš”?

ë‹µì•ˆì€ ë°ì´í„°ì— ì íŒ ì´ë¦„ ê·¸ëŒ€ë¡œ ì ì–´ ì£¼ì„¸ìš”. (ì˜ˆì‹œ: France)

In [1]:
import pandas as pd

df = pd.read_csv('data/world_cities.csv',index_col=0)

df

    City / Urban area     Country  Population  Land area (in sqKm)
0        Buenos Aires   Argentina    11200000                 2266
1           Melbourne   Australia     3162000                 2080
2              Sydney   Australia     3502000                 1687
3            Brisbane   Australia     1508000                 1603
4               Perth   Australia     1177000                  964
..                ...         ...         ...                  ...
245            Canton         USA      267000                  372
246           Spokane         USA      335000                  371
247          Tashkent  Uzbekistan     2200000                  531
248  Ho Chi Minh City     Vietnam     4900000                  518
249            Harare    Zimbabwe     1750000                  712

[249 rows x 4 columns]

In [2]:
Countries = df["Country"].value_counts()
Countries[Countries == 4]

Italy    4
Name: Country, dtype: int64

In [3]:
df["Country"].value_counts()[df["Country"].value_counts() == 4]

Italy    4
Name: Country, dtype: int64

## 05. ì½”ë“œì‡ ëŒ€í•™êµ: ìˆ˜ê°•ì‹ ì²­ ì¤€ë¹„í•˜ê¸°

### ì‹¤ìŠµê³¼ì œ

#### ìˆ˜ê°•ì‹ ì²­ì—ëŠ” ë‹¤ìŒ 3ê°œì˜ ì¡°ê±´ì´ ìˆìŠµë‹ˆë‹¤.

#### â€œinformation technologyâ€ ê³¼ëª©ì€ ì‹¬í™”ê³¼ëª©ì´ë¼ 1í•™ë…„ì€ ìˆ˜ê°•í•  ìˆ˜ ì—†ìŠµë‹ˆë‹¤.
#### â€œcommerceâ€ ê³¼ëª©ì€ ê¸°ì´ˆê³¼ëª©ì´ê³  ë§ì€ í•™ìƒë“¤ì´ ë“£ëŠ” ìˆ˜ì—…ì´ë¼ 4í•™ë…„ì€ ìˆ˜ê°•í•  ìˆ˜ ì—†ìŠµë‹ˆë‹¤.
#### ìˆ˜ê°•ìƒì´ 5ëª…ì´ ë˜ì§€ ì•Šìœ¼ë©´ ê°•ì˜ëŠ” íê°•ë˜ì–´ ìˆ˜ê°•í•  ìˆ˜ ì—†ìŠµë‹ˆë‹¤.

#### ê¸°ì¡´ DataFrameì— â€œstatusâ€ë¼ëŠ” ì´ë¦„ì˜ columnì„ ì¶”ê°€í•˜ê³ , í•™ìƒì´ ìˆ˜ê°• ê°€ëŠ¥í•œ ìƒíƒœì´ë©´ â€œallowedâ€, ìˆ˜ê°• ë¶ˆê°€ëŠ¥í•œ ìƒíƒœì´ë©´ â€œnot allowedâ€ë¥¼ ë„£ì–´ì£¼ì„¸ìš”.

In [1]:
import pandas as pd

df = pd.read_csv('data/enrolment_1.csv')

df

           id  year             course name
0     2777729     1  information technology
1     2777730     2                 science
2     2777765     1                    arts
3     2777766     2                    arts
4     2777785     1                     mba
...       ...   ...                     ...
1995  2796805     3    computer application
1996  2796812     1                 nursing
1997  2796813     2                 nursing
1998  2796814     3                 nursing
1999  2796815     4                 nursing

[2000 rows x 3 columns]

In [2]:
df['status'] = 'allowed'
df.loc[(df['course name'] == 'information technology') & (df['year'] == 1),'status'] ='not allowed'
df.loc[(df['course name'] == 'commerce') & (df['year'] ==  4),'status'] ='not allowed'
cn = df['course name'].value_counts()
l = list(cn[cn<5].index)
for i in range(len(df)):
    if df.iloc[i,2] in l:
        df.iloc[i,3] = 'not allowed'

df

           id  year             course name       status
0     2777729     1  information technology  not allowed
1     2777730     2                 science      allowed
2     2777765     1                    arts      allowed
3     2777766     2                    arts      allowed
4     2777785     1                     mba      allowed
...       ...   ...                     ...          ...
1995  2796805     3    computer application      allowed
1996  2796812     1                 nursing      allowed
1997  2796813     2                 nursing      allowed
1998  2796814     3                 nursing      allowed
1999  2796815     4                 nursing      allowed

[2000 rows x 4 columns]

## 06. ì½”ë“œì‡ ëŒ€í•™êµ: ê°•ì˜ì‹¤ ë°°ì •í•˜ê¸° I
### ì‹¤ìŠµê³¼ì œ
ê°•ì˜ì‹¤ì€ ê·œëª¨ì— ë”°ë¼ â€œAuditoriumâ€, â€œLarge roomâ€, â€œMedium roomâ€, â€œSmall roomâ€ ì´ 4ê°€ì§€ ì¢…ë¥˜ê°€ ìˆìŠµë‹ˆë‹¤.

#### ì•„ë˜ ì¡°ê±´ì— ë”°ë¼ ê°•ì˜ì‹¤ ì¢…ë¥˜ë¥¼ ì§€ì •í•´ ì£¼ì„¸ìš”.

#### 1. 80ëª… ì´ìƒì˜ í•™ìƒì´ ìˆ˜ê°•í•˜ëŠ” ê³¼ëª©ì€ â€œAuditoriumâ€ì—ì„œ ì§„í–‰ë©ë‹ˆë‹¤.
#### 2. 40ëª… ì´ìƒ, 80ëª… ë¯¸ë§Œì˜ í•™ìƒì´ ìˆ˜ê°•í•˜ëŠ” ê³¼ëª©ì€ â€œLarge roomâ€ì—ì„œ ì§„í–‰ë©ë‹ˆë‹¤.
#### 3. 15ëª… ì´ìƒ, 40ëª… ë¯¸ë§Œì˜ í•™ìƒì´ ìˆ˜ê°•í•˜ëŠ” ê³¼ëª©ì€ â€œMedium roomâ€ì—ì„œ ì§„í–‰ë©ë‹ˆë‹¤.
#### 4. 5ëª… ì´ìƒ, 15ëª… ë¯¸ë§Œì˜ í•™ìƒì´ ìˆ˜ê°•í•˜ëŠ” ê³¼ëª©ì€ â€œSmall roomâ€ì—ì„œ ì§„í–‰ë©ë‹ˆë‹¤.
#### 5. íê°• ë“±ì˜ ì´ìœ ë¡œ statusê°€ â€œnot allowedâ€ì¸ ìˆ˜ê°•ìƒì€ room assignment ë˜í•œ â€œnot assignedâ€ê°€ ë˜ì–´ì•¼ í•©ë‹ˆë‹¤.

In [1]:
import pandas as pd

df = pd.read_csv('data/enrolment_2.csv')
df

           id  year             course name       status
0     2777729     1  information technology  not allowed
1     2777730     2                 science      allowed
2     2777765     1                    arts      allowed
3     2777766     2                    arts      allowed
4     2777785     1                     mba      allowed
...       ...   ...                     ...          ...
1995  2796805     3    computer application      allowed
1996  2796812     1                 nursing      allowed
1997  2796813     2                 nursing      allowed
1998  2796814     3                 nursing      allowed
1999  2796815     4                 nursing      allowed

[2000 rows x 4 columns]

In [2]:
df['room assignment'] = 'not assigned'
cn = df['course name'].value_counts()
cn_A = list(cn[cn>=80].index)
cn_L = list(cn[(cn<80) & (cn>=40)].index)
cn_M = list(cn[(cn<40) & (cn>=15)].index)
cn_S = list(cn[(cn<15) & (cn>=5)].index)
for i in range(len(df)):
    if df.iloc[i,2] in cn_A:
        df.iloc[i,4] = 'Auditorium'
    elif df.iloc[i,2] in cn_L:
        df.iloc[i,4] = 'Large room'
    elif df.iloc[i,2] in cn_M:
        df.iloc[i,4] = 'Medium room'
    elif df.iloc[i,2] in cn_S:
        df.iloc[i,4] = 'Small room'
        
df.loc[df['status'] == 'not allowed','room assignment'] = 'not assigned'
df

           id  year             course name       status room assignment
0     2777729     1  information technology  not allowed    not assigned
1     2777730     2                 science      allowed      Auditorium
2     2777765     1                    arts      allowed      Auditorium
3     2777766     2                    arts      allowed      Auditorium
4     2777785     1                     mba      allowed      Small room
...       ...   ...                     ...          ...             ...
1995  2796805     3    computer application      allowed     Medium room
1996  2796812     1                 nursing      allowed     Medium room
1997  2796813     2                 nursing      allowed     Medium room
1998  2796814     3                 nursing      allowed     Medium room
1999  2796815     4                 nursing      allowed     Medium room

[2000 rows x 5 columns]

## 07. ì½”ë“œì‡ ëŒ€í•™êµ: ê°•ì˜ì‹¤ ë°°ì •í•˜ê¸° II

### ì‹¤ìŠµê³¼ì œ
ì´ì „ ê³¼ì œì—ì„œ ê°•ì˜ì‹¤ í¬ê¸°ì— ë”°ë¼ room assignment columnì„ ë§Œë“¤ì–´ ì£¼ì—ˆìŠµë‹ˆë‹¤.

#### ì´ì œ ì´ room assignmentì— ë”°ë¼ ê°•ì˜ì‹¤ ì´ë¦„ì„ ë¶™ì—¬ì£¼ë ¤ê³  í•©ë‹ˆë‹¤.

#### ì•„ë˜ ì„¸ ê°€ì§€ ì¡°ê±´ì„ ë§Œì¡±í•˜ë„ë¡ ì½”ë“œë¥¼ ì‘ì„±í•˜ì„¸ìš”.

#### 1. ê°™ì€ í¬ê¸°ì˜ ê°•ì˜ì‹¤ì´ í•„ìš”í•œ ê³¼ëª©ì— ëŒ€í•´ ì•ŒíŒŒë²³ ìˆœì„œëŒ€ë¡œ ë°© ë²ˆí˜¸ë¥¼ ë°°ì •í•˜ì„¸ìš”. ì˜ˆë¥¼ ë“¤ì–´ "Auditorium"ì´ í•„ìš”í•œ ê³¼ëª©ìœ¼ë¡œ â€œartsâ€, â€œcommerceâ€, â€œscienceâ€ ì„¸ ê³¼ëª©ì´ ìˆë‹¤ë©´, â€œartsâ€ëŠ” â€œAuditorium-1â€, â€œcommerceâ€ëŠ” â€œAuditorium-2â€, â€œscienceâ€ëŠ” â€œAuditorium-3â€ ìˆœì„œë¡œ ë°© ë°°ì •ì´ ë˜ì–´ì•¼ í•©ë‹ˆë‹¤. ë°© ë²ˆí˜¸ì— room ì€ í¬í•¨ë˜ì§€ ì•ŠìŠµë‹ˆë‹¤. ì•„ë˜ ìŠ¤í¬ë¦°ìƒ·ì„ ì°¸ê³ í•˜ì—¬ ì‘ì„±í•´ì£¼ì„¸ìš”.
#### 2. status columnì´ â€œnot allowedâ€ì¸ ìˆ˜ê°•ìƒì€ room assignment columnì„ ê·¸ëŒ€ë¡œ â€œnot assignedâ€ë¡œ ë‚¨ê²¨ë‘¡ë‹ˆë‹¤. "not allowed" ì¸ ìˆ˜ê°•ìƒì˜ room assignment ìƒíƒœê°€ ë³€ê²½ë˜ì§€ ì•Šë„ë¡ ìœ ì˜í•´ì£¼ì„¸ìš”.
#### 3. room assignment columnì˜ ì´ë¦„ì„ room numberë¡œ ë°”ê¿”ì£¼ì„¸ìš”.

In [1]:
import pandas as pd

df = pd.read_csv('data/enrolment_3.csv')

df

           id  year             course name       status room assignment
0     2777729     1  information technology  not allowed    not assigned
1     2777730     2                 science      allowed      Auditorium
2     2777765     1                    arts      allowed      Auditorium
3     2777766     2                    arts      allowed      Auditorium
4     2777785     1                     mba      allowed      Small room
...       ...   ...                     ...          ...             ...
1995  2796805     3    computer application      allowed     Medium room
1996  2796812     1                 nursing      allowed     Medium room
1997  2796813     2                 nursing      allowed     Medium room
1998  2796814     3                 nursing      allowed     Medium room
1999  2796815     4                 nursing      allowed     Medium room

[2000 rows x 5 columns]

In [2]:
ra = list(df['room assignment'].unique())
A = list(df.loc[df['room assignment'] == ra[1],'course name'].unique())
A.sort()
S = list(df.loc[df['room assignment'] == ra[2],'course name'].unique())
S.sort()
M = list(df.loc[df['room assignment'] == ra[3],'course name'].unique())
M.sort()
L = list(df.loc[df['room assignment'] == ra[4],'course name'].unique())
L.sort()
for i in range(len(df)):
    if df.iloc[i,4] == ra[1]:
        s = ra[1]+"-"+str(A.index(df.iloc[i,2]) + 1)
        df.iloc[i,4] = s
    elif df.iloc[i,4] == ra[2]:
        s = "Small-"+str(S.index(df.iloc[i,2]) + 1)
        df.iloc[i,4] = s
    elif df.iloc[i,4] == ra[3]:
        s = "Medium-"+str(M.index(df.iloc[i,2]) + 1)
        df.iloc[i,4] = s
    elif df.iloc[i,4] == ra[4]:
        s = "Large-"+str(L.index(df.iloc[i,2]) + 1)
        df.iloc[i,4] = s

df.rename(columns={'room assignment':'room number'}, inplace = True)
df

           id  year             course name       status   room number
0     2777729     1  information technology  not allowed  not assigned
1     2777730     2                 science      allowed  Auditorium-3
2     2777765     1                    arts      allowed  Auditorium-1
3     2777766     2                    arts      allowed  Auditorium-1
4     2777785     1                     mba      allowed      Small-34
...       ...   ...                     ...          ...           ...
1995  2796805     3    computer application      allowed      Medium-7
1996  2796812     1                 nursing      allowed     Medium-22
1997  2796813     2                 nursing      allowed     Medium-22
1998  2796814     3                 nursing      allowed     Medium-22
1999  2796815     4                 nursing      allowed     Medium-22

[2000 rows x 5 columns]